.mainDiv {
  min-height: 46vw;
}
.PaHisCal {
  background-color: white;
}
/*.cal-day-badge {
    display: none;
}*/
.browsehisfavContent {
  
}
.container-fluid {
  background-color: #edeef3;
  padding-bottom:132px;
}
.pgTabMenuCol {
  padding-left: 3%;
  padding-right: 3%;
}
.whatsnNewTxt{
    font-weight:bold;
}
.whatsNewPA{
    color: rgb(130, 126, 126);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 30px;
    padding-top: 2px;
    padding-right: 13px;
    padding-bottom: 2px;
    padding-left: 10px;
    white-space: nowrap;
    display: table-caption;
    font-weight: bold;
}
.whatsnewDate{
    color: rgb(144, 142, 142);
}
.whatsnewTitle{
    color: #053C71;
    font-weight: bold;
    display: inline;
    font-size: 16px;
    line-height: 18pt;
    cursor: pointer;
}
/*.dashboardPaHisCalCol {
  padding-left: 15px;
  padding-right: 15px;
}*/
@media only screen and (max-width: 767px) {
  .browsehisfavContentMainDiv{
    padding-top:5%;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  /*.mainDivContainer {
    margin-left: 5%;
    margin-right: 5%;
  }*/

  .container-fluid {
    padding-right: 11px;
    padding-left: 11px;
  }
}
.paIndexWireWhatsnewArrows {
    font-weight: bold;
    float: left;
}
.searchNewFolder{
	padding-left:47%;
}
.foldersMainDiv {
  padding: 20px;
  color: rgba(128, 128, 128, 0.7803921568627451);
  font-weight: bold;
}
.newFolder{
	padding-left:2%;
}
.allContentMyNotesMainDiv{
	
}
.noOfFilesinFolder {
  color: black;
  font-weight: bold;
  
}
.browseFolderTxt {
  border-bottom: 1px solid rgba(128, 128, 128, 0.4196078431372549);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 5%;
}
.folderCount {
  color: gray;
}
.filesCount {
  color: rgba(128, 128, 128, 0.78);
  font-weight: bold;
  font-size: 10px;
  flex-wrap: nowrap;
}
.mainHeadDiv{
	padding-top:13px;
}
.h4Heading{
	padding-left:4%;
}
.fileDetails {
  padding-left: 27%;
  padding-top: 28px;
  display: table-cell;
  vertical-align: middle;
  font-size: 10px;
}
.folderIcon {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20%;
}
.filesStructure {
  padding: 12px;
}
.newFolderTxt{
	text-align: center;
    vertical-align: text-bottom;
    padding-left: 2%;
    font-size: 7pt;
    color: rgba(0,0,0,0.8);
    /* font-weight: bold; */
    /* float: right; */
    background-color: rgb(210, 30, 22);
    border-radius: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 7px;
    color: white;
    text-align: center;
}
.nameCreatedDate{
	padding:20px;
	background-color: #fbfaff;
}
.folderName{
	padding-left:12%;
	color : #053C71;
}
.noOfFolders{
	padding-left:12%;
	font-size:9px;
}
.filesMainHead {
  padding-top: 5px;
  color: #053C71;
  font-size: 14px;
  font-weight: bold;
}
.filesSubContent {
  padding-top: 5px;
  color: rgba(128, 128, 128, 0.6509803921568628);
  font-size: 10px;
}
.folderOpen {
  font-size: 29px;
  color: #c6d0f3;
}
.paLeftMainDivDashboardFolderView {
  background-color: rgba(255,255,255,1);
  height: 100%;
  width: 100%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0);
}
.showMoreMainFolder {
    position: absolute;
    bottom: 25px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}
.showMoreTxtFolder {
  background-color: rgba(224, 233, 241, 0.2);
  color: rgba(0,0,0,0.7);
  font-weight: bold;
  border-radius: 0px;
  display: inline-block;
  padding-top: 6px;
  padding-right: 100px;
  padding-bottom: 4px;
  padding-left: 100px;
  border-color: #DFE0E4;
  border-width: 1pt;
  border-style: solid;
  text-align: center;
  cursor:pointer;
}
.allTxt {
  background-color: #808080;
  border-radius: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 7px;
  color: black;
  text-align: center;
}
.contentOnlyTxt{
	background-color: rgb(210, 30, 22);
    border-radius: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 7px;
    color: white;
    text-align: center;
}
.myNotesTxt{
	background-color: rgb(210, 30, 22);
    border-radius: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 7px;
    color: white;
    text-align: center;
}
.allContentMyNotes{
	float: left;
    padding-top: 12px;
}
/*sprint 4 css starts*/

#custom-search-input-top{
    padding: 0px;
    border: solid 1px #E4E4E4;
    border-radius: 0px;
    background-color: #fff;
	display: inline-table;
}
#custom-search-input-top input{
    border: 0;
    box-shadow: none;
	height: 25px;
    padding: 5px 10px;
}
.downloadsSearchInput {
  font-size: 8pt;
  height: 25px;
  padding: 5px 10px;
  height : 30px;
}
.FilterSearch{
	display: inline-table;
	width:23%;
	float:right;
}
.FilterSearch1{
	display: inline-table;
	width:23%;
}
.input-group-btn >.searchbutton{
	font-size:8pt;
	padding: 0 10px;
	vertical-align: middle;
}
.Filtersearchbutton{
	font-size:8pt;
}
#custom-search-input-top button{
    background: none;
    box-shadow: none;
    border: 0;
   color: black;
   font-size: 10pt;
    padding: 0 10px;
    vertical-align: middle;
	font-size: 8px;
}

.body{
	background-color:rgba(156,164,171,0.2);
	font-family: Lato;
	font-size:8pt;
}
/*to be removed*/
#custom-search-input{
    padding: 0px;
    border: solid 1px #E4E4E4;
    border-radius: 0px;
    background-color: #fff;
}
#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 3px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #fff;
    padding: 0 12px 0 12px;
  /*  border-left: solid 1px #ccc; */
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
  /*  border-left: solid 0px #ccc;*/
}


#custom-search-input-top button:hover{
    border: 0;
    box-shadow: none;
  /*  border-left: solid 0px #ccc;*/
}

#custom-search-input-top .glyphicon-search{
    /* font-size: 10pt; */
	color: white;
}
.input-group-btn {
  background-color: rgb(210, 30, 22);
}

.downloadsSearchBtn {
  font-size: 8pt;
}
.paRecentlyViewedMainDiv{
  padding-left: 30px;
  padding-right: 30px;
  background-color:rgba(255,255,255,1);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.paRecentlyViewedHead{
  width:100%;
  display:inline-table;
  padding-top:20px;
  padding-bottom: 10px;
  border-bottom-style:solid;
  border-bottom-width:1pt;
  border-bottom-color:rgba(156,164,171,0.5);

}
.paRecentlyViewedHead > div{
  display:table-cell;
  vertical-align:middle
}
.paRecentlyViewTxt{
	font-size: 7pt;
    color: rgba(0,0,0,0.5);
}
.paRecentlyViewTxtSub{
	font-size: 10pt;
    color: rgba(0,0,0,0.8);
    font-weight: bold;
}
.paRecentlyViewedViewAll {
  font-weight:bold;
  float: right;
  text-decoration:underline;
}
.paRecentlyViewedItem{
	border-bottom-style:solid;
  border-bottom-width:1pt;
  border-bottom-color:rgba(158, 156, 156, 0.18);
  padding-top: 10px;
  padding-bottom: 13px
}
.paRecentlyViewedTitle {
  font-size: 8pt;
  color: rgba(0,0,0,0.7);
  font-weight: bold;
  background-color: rgba(0,0,0,0.2);
  border-radius: 30px;
/**  width:-moz-min-content;**/
  display: inline-block;
  padding-top : 3px;
  padding-right : 13px;
  padding-bottom: 3px;
  padding-left: 13px;
}
.paRecentlyViewedContent{
	font-size: 9pt;
    color : #053C71;
    line-height: 18pt;
	font-weight:bold;
	padding-top:2px;
}


.body {
  background-color: rgba(156,164,171,0.2);
  font-family: Lato;
  font-size: 8pt;
}
.mainDivContainer {
  /*margin-left: 5%;
  margin-right: 5%;*/
  margin-top: 100px;
}
.paLeftMainDivDashboard {
  background-color: rgba(255,255,255,1);
  height: 100%;
  width: 100%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding-left: 15px;
  padding-right: 15px;
}
.browsehisfav {
  text-align: center;
}
.browse_hist_fav_tabs {
  padding-left: 0px;
  padding-right: 0px;
}
.browsePractiseArea {
  background-color: rgb(210, 30, 22);
  text-align: center;
  padding-top: 17px;
  padding-bottom: 20px;
  color: white;
  border-right-color: #474748;
  border-right-style: solid;
  border-right-width: 1px;
}
.activeTab {
  background-color: white !important;
  border-right: 10px !important;
  padding-bottom: 20px !important;
  text-align: center !important;
  padding-top: 17px !important;
  font-weight: bold !important;
  color: black !important;
}
.history {
  background: rgb(210, 30, 22);
  text-align: center;
  padding-top: 17px;
  padding-bottom: 20px;
  color: white;
  border-right-color: #474748;
  border-right-style: solid;
  border-right-width: 1px;
}
.calender {
  background-color: rgb(210, 30, 22);
  border-right-style: solid;
  border-right-width: 1pt;
  border-right-color: #C8C8DB;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 20px;
  color: white;
}
.downloadsSearchInput {
  font-size: 8pt;
  height: 25px;
  padding: 5px 10px;
}
.downloadsSearchInput {
  height: 30px;
}
.browsehisfavContentMainDiv {
  padding-top: 5%;
  width: 100%;
  background-color: rgba(255,255,255,1);
  font-family: Lato;
  overflow: hidden;
  padding-bottom: 5%;
}
.browsehisfavContent {
 
}
  .browsehisfavContent > div > div > div {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 11px;
    font-weight: bold;
    color: #053C71;
    padding-right: 11%;
    padding-left: 11%;
  }
#contentbrowser > div > div > div:nth-child(8n+1),
#contentbrowser > div > div > div:nth-child(8n+2),
#contentbrowser > div > div > div:nth-child(8n+3),
#contentbrowser > div > div > div:nth-child(8n+4) {
  background-color: #f1f5ff;
  height: 50px;
}
#contentbrowser > div > div > div:nth-child(8n),
#contentbrowser > div > div > div:nth-child(8n-1),
#contentbrowser > div > div > div:nth-child(8n-2),
#contentbrowser > div > div > div:nth-child(8n-3)
 {
  height: 50px;
  
}
  /*xs*/
  @media only screen and (max-width: 767px) {
    .browsePractiseArea{
    background-color:white;
  }
  .history {
    background-color: white;
    color:gray!important;
    font-weight:bold;
    border-right:none;
  }
  .calender {
    background-color: white;
    color: gray !important;
    font-weight: bold;
  }
  .paLeftMainDivDashboard{
    box-shadow:none;
  }
  .browsehisfavContentMainDiv {
    background-color: transparent !important;
    padding-left: 3%;
    padding-right: 3%;
    -webkit-box-shadow:none;
  }
  .browsehisfavContent {
    background-color: white;
    padding-left: 2%;
    text-align: center;
  }
  .dashBoardSearchMobileView {
    padding-top: 12px;
    border-bottom: 1px solid #808080;
  }
  .downloadsSearchInput {
    background-color: transparent;
    box-shadow: none;
    font-size: 12px;
  }
  .dashboardSearchIcon {
    float: right;
    padding-top: 10px;
    padding-right: 5%;
    color: #808080;
    font-size: 12px;
  }
  .searchInputDashboard{
    display:inline-block;
  }
}
/*sm*/
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .dashBoardSearchMobileView {
    display: none;
  }
  .fileDetails{
    padding-left: 15%;
  }
}
/*md*/
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .dashBoardSearchMobileView {
    display: none;
  }
}
/*lg*/ @media only screen and (min-width: 1201px) {
  .dashBoardSearchMobileView {
    display: none;
  }
}
.whatsNewBlock {
  background-color: transparent;
  margin-left: 50px;
  position: relative;
  padding-bottom: 30px;
}
.whastNewContent {
  width: 100%;
  background: transparent;
  position: relative;
}
.whastNewContent:after {
    content: '';
    width: calc(100% - 40px);
    background: #fff;
    height: 15px;
    position: absolute;
    bottom: -15px;
    left: 20px;
    z-index: 0;
    -webkit-box-shadow: 0px 0px 18px 1px #e5e4f8;
    box-shadow: 0px 0px 18px 1px #e5e4f8;
  }
.whatsNewBlock:after {
  content: '';
  width: calc(100% - 70px);
  background: white;
  height: 15px;
  position: absolute;
  bottom: 0;
  left: 35px;
  z-index: 0;
  -webkit-box-shadow: 1px 1px 18px 5px #e5e4f8;
  box-shadow: 1px 1px 18px 5px #e5e4f8;
}
.whastNewBody {
  min-height: 300px;
  position: relative;
  z-index: 9999;
  width: 100%;
  background: #fff;
  padding: 30px 40px;
}
.whatsnewShowMore{
    color: rgb(210, 30, 22);
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
}
.whastNewBody.boxshadow {
    -webkit-box-shadow: 1px 1px 20px 1px #e5e4f8 !important;
    box-shadow: 1px 1px 20px 1px #e5e4f8 !important;
  }
  .whastNewBody h3 {
    margin-top: 0;
  }
