<div class="row">
    <div class="col-lg-1"><p class="p-20 header-bottom"></p></div>
</div>
<div class="row dashboard-page-title">
    <div class="col-xs-12">
        <h5>Dashboard</h5>
    </div>
</div>
<div class="row row-eq-height">
    <div class="col-xs-12 col-lg-8 col-xl-8">
        <div class="card-box dashboard-tabs border-radius-0 p-0">
            <mat-tab-group (selectedTabChange)="changedTab($event)">
                <mat-tab label="{{ getScreenSize() > 991 ? 'Browse Practice Areas' : 'Practice Areas' }}">
                    <dashboard-practice-area [practiceAreas]="practiceAreas" [error]="practiceAreaError"
                                             (domainPath)="navigateToSubTopics($event)" *ngIf="practiceAreas">
                    </dashboard-practice-area>
                    <div *ngIf="!practiceAreas" class="loading-pa-txt">Loading...</div>
                </mat-tab>
                <mat-tab label="History">
                    <dashboard-history [historyItems]="historyList"
                                       [timePeriods]="timePeriods"
                                       [error]="historyError"
                                       (showHistory)="navigateToHistoryList($event)">
                    </dashboard-history>
                </mat-tab>
                <mat-tab label="Calendar">
                    <div class="new-calendar">
                        <div class="row calendar-page m-0 calendar-top-line">
                            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 text-center calendar-header">
                                <h4>
                                    <span class="previousButton clarrows ft" mwlCalendarPreviousView
                                          [view]="view"
                                          [(viewDate)]="viewDate"
                                          (viewDateChange)="viewDateChanged()">
                                        <span class="leftArrowMain">
                                            <span class="fa fa-angle-left leftarrowBackButton pg-icon"></span>
                                        </span>
                                    </span>
                                    <span>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
                                    <span class="previousButton clarrows rt"
                                          mwlCalendarNextView
                                          [view]="view"
                                          [(viewDate)]="viewDate"
                                          (viewDateChange)="viewDateChanged()">
                                        <span class="leftArrowMain">
                                            <span class="fa fa-angle-right leftarrowBackButton pg-icon"></span>
                                        </span>
                                    </span>
                                </h4>
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 mobi-calendar-header">
                                <div class="row">
                                    <div class="col-xs-2 text-right">
                                        <span class="mobi-prev-button" mwlCalendarPreviousView
                                              [view]="view"
                                              [(viewDate)]="viewDate"
                                              (viewDateChange)="viewDateChanged()">
                                            <span class="left-caret">
                                                <span class="fa fa-caret-left pg-icon"></span>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="col-xs-8 text-center">
                                        <span class="date-string">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }} <span class="fa fa-chevron-down pg-icon"></span></span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="mobi-next-button"
                                              mwlCalendarNextView
                                              [view]="view"
                                              [(viewDate)]="viewDate"
                                              (viewDateChange)="viewDateChanged()">
                                            <span class="right-caret">
                                                <span class="fa fa-caret-right pg-icon"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 calendar-body">
                            <div class="col-xl-12">
                                <ng-template #customCellTemplate
                                             let-day="day"
                                             let-locale="locale"
                                             let-openDay="openDay"
                                             let-tooltipPlacement="tooltipPlacement"
                                             highlightDay="highlightDay"
                                             unhighlightDay="unhighlightDay"
                                             eventClicked="eventClicked"
                                             tooltipTemplate="tooltipTemplate"
                                             tooltipAppendToBody="tooltipAppendToBody">
                                    <div class="cal-cell-top">
                                        <div class="cal-events" *ngIf="day.events.length > 0">
                                            <div class="cal-event"
                                                 *ngFor="let event of day.events"
                                                 [style.backgroundColor]="event.color.primary"
                                                 [ngClass]="event?.cssClass"
                                                 [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
                                                 [tooltipPlacement]="tooltipPlacement"
                                                 [tooltipEvent]="event.title"
                                                 [tooltipTemplate]="tooltipTemplate"
                                                 [tooltipAppendToBody]="tooltipAppendToBody">
                                            </div>
                                        </div>
                                        <div class="cal-day-number text-center">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</div>
                                        <ng-container *ngFor="let event of day?.events | slice: 0:1">
                                            <div class="cal-day-notes" [ngClass]="event?.eventCss" [style.width.%]="getCalDayWidth(day, event)" *ngIf="isStartDayOfEvent(day, event)">
                                                <span class="event-notes">{{event.meta.notes}}</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-template>

                                <mwl-calendar-month-view [viewDate]="viewDate"
                                                         [events]="events"
                                                         (click)="navigateToCalendar()"
                                                         [cellTemplate]="customCellTemplate">
                                </mwl-calendar-month-view>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="col-xs-12 col-lg-4 col-xl-4">
        <app-whatsnew-carousel [newItems]="newItems" [whatsNewError]="whatsNewError" [newItemsLoaded]="newItemsLoaded" (showMoreWhatsNew)="showAllWhatsNew($event)"></app-whatsnew-carousel>
    </div>
</div>
<div class="clearfix m-hide"><p>&nbsp;</p></div>
<div class="row row-eq-height" *ngIf="practiceAreas">
    <div class="col-xs-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card-box border-radius-0 browseFolders-widget p-0">
            <div class="inbox-widget nicescroll my-folders under-browse-folders" *ngIf="folderInfo">
                <browse-folders [folderInfo]="folderInfo" [error]="foldersError" (reloadFolders)="getFolders()"
                                (showMore)="navigateToMyFolders=true">
                </browse-folders>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-6 col-xl-6">
        <app-events [calenderEvents]="calenderEvents" [eventsError]="eventsError"></app-events>
    </div>
</div>
<div class="clearfix m-hide"><p>&nbsp;</p></div>
