<div class="row guidance-note-page">
    <app-bread-crumb [title]="title"></app-bread-crumb>
    <!--<div class="col-xs-12 col-lg-12 col-xl-12">
        <div class="breadcrumb-text">
            <div>You are here: <span><a routerLink="/dashboard">Dashboard</a></span> > {{title}}</div>
        </div>
    </div>-->
    <div class="col-xs-12 col-lg-12 col-xl-9">
        <div class="row">
            <div class="col-lg-8 col-xl-8">
                <span class="label label-pill label-default" *ngIf="rootArea">{{rootArea}}</span>
                <h4 class="pageTitle p-l-0 m-t-10">
                    <span class="folderBackMain pull-left" (click)="back()" *ngIf="contentHistory?.length>0">
                        <span class="fa fa-angle-left angleLeft leftarrowBackButton pg-icon"></span>
                    </span>
                    <span class="folderName" title="{{title}}">{{(title?.length>25)?(title.slice(0,30)+'...'):(title)}}</span>
                </h4>
                <span class="authorDetails">
                    <span class="authorName" [innerHtml]="downloadContentInfo?.authorName">{{downloadContentInfo?.authorName}}</span>
                </span>
                <div class="readmoreDsc"><pg-read-more text="">&nbsp;</pg-read-more></div>
            </div>
            <div class="col-lg-4 col-xl-4 text-right">
                <span class="foldersButton">
                    <a (click)="openSaveToFolderModal()"><span class="ion-ios7-folder pg-icon"></span></a>
                    <a (click)="openEmailModal(modalEmailContent)" class="pointer"><span class="icon-envelope-letter icons pg-icon"></span></a>
                    <a class="pointer" (click)="openFileDownloadModal(downloadModal)"><span class="zmdi zmdi-download pg-icon"></span></a>
                    <a class="pointer" (click)="openPermaLinkModal()" *ngIf="!_pagerService.isMobile pg-icon"><span class="icon-action-redo icons"></span></a>
                </span>
            </div>

        </div>
    </div>
</div>
<div class="row  guidance-note-page">
    <div class="col-xs-12 col-lg-8 col-xl-9">
        <div class="card-box border-radius-0 guiRefTabs" *ngIf="downloadContentInfo && downloadContentInfo?.mimeType!='' && downloadContentInfo?.mimeType!='application/pdf'">
            <div id="doc" class="guidanceContentMainDiv showGuidanceDetail" style="background-color:white; padding:50px;">
                <ng-container *compile="downloadContentInfo?.fileStrContent; context: this">
                </ng-container>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-4 col-xl-3" *ngIf="isGuidanceNote">
        <div class="card-box border-radius-0 content-outline  p-40" *ngIf="showGuidanceDetail && guidances && contentOutlinesList?.length>0">
            <h4 class="header-title m-t-0 m-b-40">Content Outline</h4>
            <div class="inbox-widget nicescroll">
                <ul>
                    <li *ngFor="let contentOutline of contentOutlinesList">
                        <div class="pointer" (click)="scroll(contentOutline.domainId)">
                            <p class="content-outline-sub">{{contentOutline.title}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <essentials [essentials]="essentials" (essential)="downloadEssentials($event)" *ngIf="essentials?.length>0"></essentials>
    </div>
</div>

<app-save-to-folder-modal [saveToFolderContent]="saveToFolderContent" (closeModal)="onCloseSaveToFolderModal($event)" (saveToFolder)="saveFileToFolder($event)"></app-save-to-folder-modal>

<app-permalink-modal [permaTitle]="practiceArea" [permaLink]="permaLink"></app-permalink-modal>
