
<div class="row folders-details folder-parent">
  <!--<div class="col-xs-12 col-lg-12 col-xl-12 col-md-12">
    <div class="breadcrumb-text">
      <div>&nbsp;</div>
    </div>
  </div>-->
  <div class="col-sm-12  col-xs-12 col-md-12 col-lg-9">
    <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <h4 class="pageTitle p-l-0 m-t-10">
          <span class="folderBackMain">
            <i class="fa fa-angle-left angleLeft backArrowButton" (click)="navigateBackToFolderList()"></i>
          </span>
          <span *ngIf="!isEnableClientEdit" class="folderName pointer">{{clientFolder?.clientDescription}}</span>


        </h4>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 text-right">
        <span class="foldersButton" *ngIf="false">
          <span class="fa fa-download saveButton boxshadow"></span>
        </span>
        <span class="foldersButton" *ngIf="false">
          <span class="ti-settings  saveButton boxshadow cog"></span>
        </span>
        <span class="foldersButton" *ngIf="false" (click)="deleteFolder()">
          <span class="fa fa-trash saveButton boxshadow"></span>
        </span>
        <span class="foldersButton" *ngIf="false">
          <span class="icon-action-redo icons saveButton boxshadow sharei"></span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="folders">
  <div class="col-xs-12 col-lg-12 col-xl-12 col-md-12">
    <div class="card-box border-radius-0 folders-details my-folders p-0">
      <div class="row myfolders-header">
        <div class="col-xs-12 col-md-6 col-lg-4 col-xl-4">
          <div class="noOfFilesinFolder">You have {{FoldersCount}} folders in this folder</div>
        </div>
        <div class="col-xs-12 col-lg-8 col-xl-8 col-md-9">
          <div class="searchNewFolder parentfolders text-right my-folders">
            <div id="custom-search-input-top" class="FilterSearch1">
              <input type="text" [(ngModel)]="parentFolderName" class="form-control input-lg downloadsSearchInput img-responsive" placeholder="Search folders">
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg searchbutton" type="button">
                  <i class="fa fa-search Filtersearchbutton"></i>
                </button>
              </span>
            </div>
            <span class="newFolder">
              <a [ngClass]="(isEnableNewFolder)? 'btn btn-sm btn-custom waves-effect waves-light pull-xs-right folderbtn pointer' : 'btn btn-sm btn-custom waves-effect waves-light pull-xs-right folderbtn disableCursor'"
                 (click)="createParentFolderClick()"><i class="zmdi zmdi-plus"></i>New Folder</a>
            </span>
          </div>
        </div>

      </div>

      <h5 class="folderListTitle">Folders</h5>
      <div class="table-rep-plugin">
        <div class="table-responsive">
          <table class="contentbrowsertble">
            <tr>
              <th>NAME</th>
              <th>DATE CREATED</th>
              <th>LAST UPDATED</th>
              <th>SHARING</th>
              <th></th>
            </tr>
            <tr *ngFor="let folder of folders|filter:parentFolderName; let i = index">
              <td>
                <div class="folderIconDetailMain">
                  <div class="folderIconIndetail col-sm-6 col-md-2 col-lg-2">
                    <i class="icon-folder-alt icons"></i>
                  </div>
                  <div class="fileNameCount col-sm-6 col-md-10 col-lg-10">
                    <div class="folderName p-l-0">
                      <span *ngIf="!folder?.isNewFolder && !folder?.isEnableEdit" (click)="navigateToFolder(folder)">{{folder?.folderName}}</span>
                      <div *ngIf="folder?.isNewFolder">
                        <input type="text" name="name" [(ngModel)]="folder.folderName" (keydown)="onKeyDown($event,folder,'New')" />
                        <i class="fa fa-save editPencilButton pointer" (click)="saveNewParentFolder(folder)"></i>
                        <i class="fa fa-close editPencilButton pointer" (click)="cancelAddNewParentFolder()"></i>
                      </div>
                      <div *ngIf="folder?.isEnableEdit">
                        <input type="text" name="name" [(ngModel)]="folder.folderName" (keydown)="onKeyDown($event,folder,'Edit')" />
                        <i class="fa fa-save editPencilButton pointer" (click)="editParent(folder)"></i>
                        <i class="fa fa-close editPencilButton pointer" (click)="cancelEdit(folder)"></i>
                      </div>
                    </div>
                    <div class="noOfFolders" *ngIf="!folder?.isNewFolder">{{folder.fileCount}} File(s), {{folder.folderCount}} Folder(s)</div>
                    <div class="noOfFolders" *ngIf="folder?.isValid == false"> Folder name is required</div>
                  </div>
                </div>
              </td>
              <td><div class="dateTimeContent">{{folder?.dateCreated | date}}</div></td>
              <td><div class="dateTimeContent" *ngIf="!folder?.isNewFolder">{{getDays(folder?.lastAccessedDate)}} day(s) ago</div>
                  <div class="dateTimeContent" *ngIf="folder?.isNewFolder"> - </div>
                </td>
              <td><div class="dateTimeContent" *ngIf="!folder?.isNewFolder">Standard</div></td>
              <td align="center">
                <div class="btn-group" dropdown placement="bottom right" *ngIf="!folder?.isNewFolder">
                  <button id="button-alignment" dropdownToggle type="button"
                          class="btn folderListBtn" aria-controls="dropdown-alignment">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </button>
                  <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                      role="menu" aria-labelledby="button-alignment">
                    <li role="menuitem" (click)="enableEdit(folder)"><a class="dropdown-item">Rename</a></li>
                    <li role="menuitem" (click)="deleteFolder(folder)"><a class="dropdown-item">Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr *ngIf="(folders | filter: parentFolderName)?.length == 0">
              <td colspan="5" align="left">
                <br />
                <br />
                <h5><div class="noOfFilesinFolder nofilesmsg">No Folder(s) found.</div></h5>
                <br />
                <br />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- kiran changes -->
      <!--<ng-container *ngFor="let folder of folders; let i = index">
          <div class="row" *ngIf="i%4==0">
              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" *ngIf="folders[i]">
                  <div class="card-box tilebox-one">
                      <div class="badge-lable">
                          <div class="radio radio-success radio-circle pull-xs-right" *ngIf="!folders[i]?.isNewFolder" (click)="onFolderCheck(folders[i].folderNameID)">
                              <input type="radio" name="folderdetails">
                              <label for="radio3"></label>
                          </div>
                      </div>
                      <h5 class="m-b-10 m-t-10" data-plugin="counterup">
                          <i class="fa fa-folder icons"></i>
                          <span *ngIf="!folders[i]?.isNewFolder" (click)="navigateToFolder(folders[i])">{{folders[i]?.folderName}}</span>
                          <span *ngIf="folders[i]?.isNewFolder">
                              <input type="text" name="name" [(ngModel)]="folders[i].folderName" />
                              <i class="fa fa-save editPencilButton pointer" (click)="saveNewParentFolder(folders[i])"></i>
                              <i class="fa fa-close editPencilButton pointer" (click)="cancelAddNewParentFolder()"></i>
                          </span>
                      </h5>
                      <span class="text-muted">{{folders[i]?.desc}}</span>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" *ngIf="folders[i+1]">
                  <div class="card-box tilebox-one">
                      <div class="badge-lable">
                          <div class="radio radio-success radio-circle pull-xs-right" *ngIf="!folders[i+1]?.isNewFolder" (click)="onFolderCheck(folders[i+1].folderNameID)">
                              <input type="radio" name="folderdetails">
                              <label for="radio"></label>
                          </div>
                      </div>
                      <h5 class="m-b-10 m-t-10" data-plugin="counterup">
                          <i class="fa fa-folder icons"></i>
                          <span *ngIf="!folders[i+1]?.isNewFolder" (click)="navigateToFolder(folders[i+1])">{{folders[i+1]?.folderName}}</span>
                          <span *ngIf="folders[i+1]?.isNewFolder">
                              <input type="text" name="name" [(ngModel)]="folders[i+1].folderName" />
                              <i *ngIf="folders[i+1]?.isNewFolder" class="fa fa-save editPencilButton pointer" (click)="saveNewParentFolder(folders[i+1])"></i>
                              <i *ngIf="folders[i+1]?.isNewFolder" class="fa fa-close editPencilButton pointer" (click)="cancelAddNewParentFolder()"></i>
                          </span>
                      </h5>
                      <span class="text-muted">{{folders[i+1]?.desc}}</span>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" *ngIf="folders[i+2]">
                  <div class="card-box tilebox-one">
                      <div class="badge-lable">
                          <div class="radio radio-success radio-circle pull-xs-right" *ngIf="!folders[i+2]?.isNewFolder" (click)="onFolderCheck(folders[i+2].folderNameID)">
                              <input type="radio" name="folderdetails">
                              <label for="radio3"></label>
                          </div>
                      </div>
                      <h5 class="m-b-10 m-t-10" data-plugin="counterup">
                          <i class="fa fa-folder icons"></i>
                          <span *ngIf="!folders[i+2]?.isNewFolder" (click)="navigateToFolder(folders[i+2])">{{folders[i+2]?.folderName}}</span>
                          <span *ngIf="folders[i+2]?.isNewFolder">
                              <input type="text" name="name" [(ngModel)]="folders[i+2].folderName" />
                              <i *ngIf="folders[i+2]?.isNewFolder" class="fa fa-save editPencilButton pointer" (click)="saveNewParentFolder(folders[i+2])"></i>
                              <i *ngIf="folders[i+2]?.isNewFolder" class="fa fa-close editPencilButton pointer" (click)="cancelAddNewParentFolder()"></i>
                          </span>
                      </h5>
                      <span class="text-muted">{{folders[i+2]?.desc}}</span>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" *ngIf="folders[i+3]">
                  <div class="card-box tilebox-one">
                      <div class="badge-lable">
                          <div class="radio radio-success radio-circle pull-xs-right" *ngIf="!folders[i+3]?.isNewFolder" (click)="onFolderCheck(folders[i+3].folderNameID)">
                              <input type="radio" name="folderdetails">
                              <label for="radio3"></label>
                          </div>
                      </div>
                      <h5 class="m-b-10 m-t-10" data-plugin="counterup">
                          <i class="fa fa-folder icons"></i>
                          <span *ngIf="!folders[i+3]?.isNewFolder" (click)="navigateToFolder(folders[i+3])">{{folders[i+3]?.folderName}}</span>
                          <span *ngIf="folders[i+3]?.isNewFolder">
                              <input type="text" name="name" [(ngModel)]="folders[i+3].folderName" />
                              <i *ngIf="folders[i+3]?.isNewFolder" class="fa fa-save editPencilButton pointer" (click)="saveNewParentFolder(folders[i+3])"></i>
                              <i *ngIf="folders[i+3]?.isNewFolder" class="fa fa-close editPencilButton pointer" (click)="cancelAddNewParentFolder()"></i>
                          </span>
                      </h5>
                      <span class="text-muted">{{folders[i+3]?.desc}}</span>
                  </div>
              </div>
          </div>
      </ng-container>-->
      <p *ngIf="folders?.length == 0" class="noOfFilesinFolder nofilesmsg">No Folders To Display</p>



      <!-- end row -->
    </div>
  </div>
  <div class="col-xs-12 col-lg-3 col-xl-3">
  </div>
</div>
<div class="row foldersnameButtons" *ngIf="FolderFileView">
  <div class="col-xs-12 col-lg-12 col-xl-12">
    <div class="guidanceContentMainDiv">
      <div class="noOfFilesinFolder"><h4>No Files To Display !!!</h4></div>
    </div>
  </div>
</div>


