<div>
    <span class="glyphicon glyphicon-menu-left backButtonMobileView"></span>
    <div class="mobileViewBack">Back</div>
</div>


<ul class="list-groups">
    <li id="practiceAreaTitle" [ngClass]="(practicearea.title === selectedPracticeArea?.title) ? 'activeTab' : ''" (click)="onPracticeAreaSelect(practicearea.subTocItem,practicearea)" *ngFor="let practicearea of practiceAreas | filter : searchText">
        <div class="row">
            <div class="col-sm-11">
                
                <h6 class="text-muted text-uppercase m-b-15" [style.color]="practicearea.isSubscribed==true?null:'darkgray'">{{practicearea.title}}</h6>
            </div>
            <div class="col-sm-1">
                <span class="waves-effect waves-light"><i class="zmdi zmdi-star-outline" style="vertical-align: middle"></i></span>
            </div>
  
        </div>
    </li>
</ul>



