<nav class="navbar mobi-navbar" id="myHeader1" *ngIf="_pager.mobiView" style="visibility:hidden;">
    <div class="navbar-header">
        <a class="navbar-brand pointer" routerLink="/dashboard">
            <img src="{{pgConstants.Images.HeaderImages.Logo}}" alt="Lexis Nexis" />
        </a>
    </div>
    <ul class="nav mobile-lexis-product-selector">
        <li class="nav-item dropdown notification-list top-left-link-icon" dropdown>
            <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="button-logo" dropdownToggle aria-controls="dropdown-logo">
                <img src="{{pgConstants.Images.HeaderImages.dropDownPGIcon}}" alt="PG" />
                <span class="menu-name">Practical Guidance</span> <span class="zmdi zmdi-chevron-down down-icon pg-icon"></span>
            </a>
            <div class="dropdown-menu" id="dropdown-logo" *dropdownMenu role="menu" aria-labelledby="button-logo">
                <a role="menuitem" (click)="redirectToLibrary()" class="dropdown-item pointer">
                    <div class="item-icon">
                        <img src="{{pgConstants.Images.HeaderImages.dropDownLibraryIcon}}" alt="PG Library" />
                    </div>
                    <span class="item-name">Library</span>
                </a>
                <a class="divider" href="javascript:void(0);" role="separator"></a>
                <a role="menuitem" href="javascript:void(0);" class="dropdown-item">
                    <div class="item-icon">
                        <img src="{{pgConstants.Images.HeaderImages.dropDownAssureIcon}}" alt="PG Assurance" />
                    </div>
                    <span class="item-name">Assure</span>
                </a>
            </div>
        </li>
    </ul>
    <ul class="nav right-menu">
        <li class="nav-item dropdown notification-list top-left-link-icon" dropdown>
            <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="bars-link" dropdownToggle aria-controls="right-dropdown-menu">
                <div class="lines">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
            <div class="dropdown-menu" id="right-dropdown-menu" *dropdownMenu role="menu" aria-labelledby="bars-link">
                <a role="menuitem" href="javascript:void(0);" class="dropdown-item" routerLink="/history-list">
                    <span class="item-name">History</span>
                </a>
                <a class="divider" href="javascript:void(0);" role="separator"></a>
                <a role="menuitem" href="javascript:void(0);" class="dropdown-item" (click)="openFeedbackModal()">
                    <span class="item-name">Feedback</span>
                </a>
                <a class="divider" href="javascript:void(0);" role="separator"></a>
                <a role="menuitem" href="javascript:void(0);" class="dropdown-item pointer" (click)="logout()">
                    <span class="item-name">Logout</span>
                </a>
            </div>
        </li>
    </ul>
</nav>