.feedback-container {
  display: flex;
  flex-direction: column;
}

.feedback-container > * {
  width: 100%;
}

.radioTop {
    padding-top: 22px;
}

.mat-button {
    color: white;
}

.mat-form-field {
    width: 100%;
}