<div *ngFor="let subfolder of subFolders" class="subflodersTree">
  <div *ngIf="subfolder.isVisible" [ngClass]="(subfolder.isSlected) ? 'selectedRow pointerCursor':'pointerCursor'" (click)="showHideFolder(subfolder.folderNameID,subfolder.isVisible,subfolder.parentFolderID,subfolder)" (blur)="blured()">
    <div *ngIf="!subfolder.isNewFolder">
      <div *ngIf="!subfolder.isEditEnabled" class="subfloders">
        <span class="icon-folder-alt icons pg-icon"></span> <span>{{subfolder.folderName}}</span>
      </div>
      <div *ngIf="subfolder.isEditEnabled"  class="subfloders">
        <span class="icon-folder-alt icons pg-icon"></span>
        <input type="text" name="name" class="form-control" [(ngModel)]="subfolder.folderName" />
        <span class="fa fa-floppy-o text-custom pg-icon" aria-hidden="true" (click)="editFolder(subfolder)"></span>
        <span class="fa fa-times-circle text-danger pg-icon" aria-hidden="true" (click)="undoChanges()"></span>
      </div>
    </div>
    <div *ngIf="subfolder.isNewFolder" class="subfloders">
      <span class="icon-folder-alt icons pg-icon"></span>
      <input type="text" name="name" class="form-control" [(ngModel)]="subfolder.folderName"/>
      <span class="fa fa-floppy-o text-custom pg-icon" aria-hidden="true" (click)="newFolder(subfolder)"></span>
      <span class="fa fa-times-circle text-danger pg-icon" aria-hidden="true" (click)="undoChanges()"></span>
    </div>
  </div>
  <div *ngIf="subfolder.folders && subfolder.isVisible"  class="subfloders-sub">
    <pg-folder-treeview-child [subFolders]="subfolder.folders" (nodeClicked)="nodeChildClicked($event)"
                              (setNodeCollapsed)="nodeChildCollapsed($event)" (cancelClicked)="childNodeCancelClicked()"
                              (editFolders)="editChildFolder($event)" (newFolders)="addChildFolder($event)" (deleteFolder)="deleteChildFolder($event)"></pg-folder-treeview-child>
  </div>
  <div *ngIf="subfolder?.files?.length>0 && subfolder.isFilesVisible && showFiles" style="padding-left:30px">
    <div *ngFor="let file of subfolder?.files">
      <div><span class="fa fa-file-o pg-icon" aria-hidden="true"></span>&nbsp;{{file.title}}&nbsp;<span class="fa fa-times-circle text-danger pg-icon" aria-hidden="true"></span></div>
    </div>
  </div>
</div>



