<div class="row myfolders-header folders-details my-folders">
    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-3 col-xl-3" *ngIf="!searchResult">
        <span class="noOfFoldersTxt" *ngIf="folderInfo">You have {{ FoldersCount }} folder(s)</span>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-3 col-xl-3" *ngIf="searchResult">
        <span class="noOfFoldersTxt" [ngClass]="isSaveToFolder?'p-0':''">You have {{(searchResult.foldersList!=null?searchResult.foldersList.length:0)+(searchResult.rootFolders!=null?searchResult.rootFolders.length:0)}} folder(s),  {{searchResult?.filesList?.length}} file(s)</span>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-9 col-xl-9">
        <div class="searchNewFolder text-right">
            <div id="custom-search-input-top" class="FilterSearch1">
                <input type="text" [(ngModel)]="fileFolderName" class="form-control input-lg downloadsSearchInput img-responsive" placeholder="Search folders" (keypress)="forceSearch($event)">
                <a *ngIf="fileFolderName?.trim().length>0 || searchResult" class="practiceAreaCrossMark folders-CrossMark filter-clear ng-star-inserted"
                   (click)="clearSearch()" style="top:0;">X</a>
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg searchbutton" type="button" (click)="searchForFilesAndFolders()">
                        <i class="fa fa-search Filtersearchbutton"></i>
                    </button>
                </span>
            </div>
            <span class="newFolder">
                <a [ngClass]="(isEnableNewFolder && !searchResult)? 'btn btn-sm btn-custom waves-effect waves-light pull-xs-right folderbtn pointer' : 'btn btn-sm btn-custom waves-effect waves-light pull-xs-right folderbtn pointer disableCursor'"
                   (click)="createClientFolder()"><i class="zmdi zmdi-plus"></i>New Folder</a>
            </span>
        </div>
    </div>
</div>
<div class="table-rep-plugin folders-details" [ngClass]="isSaveToFolder?'my-folders':''" *ngIf="!searchResult">
    <div class="table-responsive m-hide">
        <table class="contentbrowsertble">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>DATE CREATED</th>
                    <th>LAST UPDATED</th>
                    <!--<th>SHARING</th>-->
                    <th>EDIT FOLDER</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!folderInfo">
                    <td colspan="5">
                        <div class="folderIconDetailMain">
                            <div class="dateTimeContent">Loading...</div>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let folder of folderInfo">
                    <td>
                        <div class="folderIconDetailMain" *ngIf="folder?.isNewFolder">
                            <div class="folderIconIndetail">
                                <i class="icon-folder-alt icons"></i>
                            </div>
                            <div class="fileNameCount" *ngIf="folder?.isNewFolder">
                                <div class="folderName p-l-0">
                                    <input type="text" name="name" value="" [(ngModel)]="folder.clientDescription" class="form-control" (keydown)="onKeyDown($event,folder,'New')" />
                                    <div *ngIf="folder.isValid == false" class="validate">Folder Name is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="folderIconDetailMain" *ngIf="!folder?.isNewFolder">
                            <div class="folderIconIndetail">
                                <i class="icon-folder-alt icons"></i>
                            </div>
                            <div class="fileNameCount" *ngIf="!folder?.isNewFolder && !folder?.isEnableEdit" (click)="showFolderDetails(folder)">
                                <div class="folderName p-l-0">{{folder?.clientDescription}}</div>
                                <div class="noOfFolders">{{folder.folderCount}} Folder(s), {{folder.fileCount}} File(s)</div>
                            </div>
                            <div class="fileNameCount" *ngIf="folder?.isEnableEdit">
                                <div class="folderName p-l-0">
                                    <input type="text" name="name" [(ngModel)]="folder.clientDescription" class="form-control" (keydown)="onKeyDown($event,folder,'Edit')" />
                                    <div *ngIf="folder.isValid == false" class="validate">Folder Name is required</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><div class="dateTimeContent">{{folder?.dateCreated | date}}</div></td>
                    <td>
                        <div class="dateTimeContent" *ngIf="!folder?.isNewFolder">{{getDays(folder?.lastAccessedDate)}} </div>
                        <div class="dateTimeContent" *ngIf="folder?.isNewFolder"> - </div>
                    </td>
                    <!--<td><div class="dateTimeContent">Standard</div></td>-->
                    <td>
                        <i *ngIf="folder?.isNewFolder" class="fa fa-save editPencilButton pointer" (click)="addNewClient(folder)" title="Create Folder"></i>
                        <i *ngIf="folder?.isNewFolder" class="fa fa-close cancel editPencilButton pointer" (click)="cancelCreateClientFolder()" title="Cancel"></i>

                        <i *ngIf="folder?.isEnableEdit" class="fa fa-save editPencilButton pointer" (click)="editClient(folder)"></i>
                        <i *ngIf="folder?.isEnableEdit" class="fa fa-close cancel editPencilButton pointer" (click)="cancelEdit(folder)"></i>


                        <div class="btn-group folderbtn-group" dropdown placement="bottom right" *ngIf="!folder?.isNewFolder && !folder?.isEnableEdit">
                            <button id="button-alignment" dropdownToggle type="button"
                                    class="btn folderListBtn" aria-controls="dropdown-alignment">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </button>
                            <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                role="menu" aria-labelledby="button-alignment">
                                <li role="menuitem" (click)="enableEdit(folder)"><a class="dropdown-item">Rename</a></li>
                                <li role="menuitem" (click)="deleteClient(folder)"><a class="dropdown-item">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="folderInfo?.length == 0">
                    <td colspan="5" align="left">
                        <br />
                        <br />
                        <p class="noOfFilesinFolder nofilesmsg">{{ error }}</p>
                        <br />
                        <br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mobileFoldersView d-hide">
        <div class="foldersListHeader">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="header-title">Folders</h2>
                </div>
            </div>
        </div>
        <div class="folderListItems">
            <div class="row">
                <div class="col-md-12">
                    <ul class="folders-list">
                        <li class="folder-item" *ngFor="let folder of folderInfo">
                            <span class="folder-icon" [ngClass]="{ 'align-top': folder?.isEnableEdit || folder?.isNewFolder }">
                                <i class="icon-folder-alt icons"></i>
                            </span>
                            <div class="folder-details" [ngClass]="{ 'align-top': folder?.isEnableEdit || folder?.isNewFolder }">
                                <div (click)="showFolderDetails(folder)" *ngIf="!folder?.isEnableEdit && !folder?.isNewFolder">
                                    <span class="folder-name">{{ folder?.clientDescription }}</span>
                                    <span class="folder-mod-details">Modified: {{ folder?.lastAccessedDate | date: 'MMM dd, y' }}</span>
                                </div>
                                <div *ngIf="folder?.isEnableEdit">
                                    <input type="text" name="name" [(ngModel)]="folder.clientDescription" class="form-control folder-name-input" (keydown)="onKeyDown($event,folder,'Edit')" />
                                    <div *ngIf="folder.isValid == false" class="validate">Folder Name is required</div>
                                </div>
                                <div *ngIf="folder?.isNewFolder">
                                    <input type="text" name="name" value="" [(ngModel)]="folder.clientDescription" class="form-control folder-name-input" (keydown)="onKeyDown($event,folder,'New')" />
                                    <div *ngIf="folder.isValid == false" class="validate">Folder Name is required</div>
                                </div>
                            </div>

                            <div class="folder-actions" [ngClass]="{ 'align-top': folder?.isEnableEdit || folder?.isNewFolder }">
                                <div class="btn-group" dropdown placement="bottom right" *ngIf="!folder?.isEnableEdit && !folder?.isNewFolder">
                                    <button id="button-alignment" dropdownToggle type="button" class="btn pointer" aria-controls="dropdown-alignment">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                    <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                        role="menu" aria-labelledby="button-alignment">
                                        <li role="menuitem" (click)="enableEdit(folder)"><a class="dropdown-item">Rename</a></li>
                                        <li role="menuitem" (click)="deleteClient(folder)"><a class="dropdown-item">Delete</a></li>
                                    </ul>
                                </div>
                                <div *ngIf="folder?.isEnableEdit">
                                    <i class="fa fa-save editPencilButton pointer" (click)="editClient(folder)"></i>
                                    <i class="fa fa-close cancel editPencilButton pointer" (click)="cancelEdit(folder)"></i>
                                </div>
                                <div *ngIf="folder?.isNewFolder">
                                    <i class="fa fa-save editPencilButton pointer" (click)="addNewClient(folder)" title="Create Folder"></i>
                                    <i class="fa fa-close cancel editPencilButton pointer" (click)="cancelCreateClientFolder()" title="Cancel"></i>
                                </div>
                            </div>
                        </li>
                        <li class="folder-item" *ngIf="folderInfo?.length == 0">
                            <p class="nofolders-error">{{ error }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--search results-->
<div *ngIf="searchResult" class="folders-details folderSearchResult">
    <h4 class="folderListTitle m-hide" *ngIf="!isSaveToFolder">Search Result</h4>
    <div class="my-folders p-0 m-hide">
        <h5 class="folderListTitle" *ngIf="!isSaveToFolder">Folders</h5>
        <div class="table-rep-plugin">
            <div class="table-responsive">
                <table class="contentbrowsertble">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>DATE CREATED</th>
                            <th>LAST UPDATED</th>
                            <!--<th>SHARING</th>-->
                            <th>EDIT FOLDER</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let folder of searchResult.foldersList|slice:0:searchFoldersCount; let i = index">
                            <td>
                                <div class="folderIconDetailMain" (click)="showFolderDetails(folder)" *ngIf="!folder?.isNewFolder">
                                    <div class="folderIconIndetail">
                                        <i class="icon-folder-alt icons"></i>
                                    </div>
                                    <div class="fileNameCount" *ngIf="!folder?.isNewFolder && !folder?.isEnableEdit">
                                        <div class="folderName p-l-0">
                                            {{folder?.folderName || folder?.clientDescription}}
                                        </div>
                                        <div class="noOfFolders">{{folder?.folderNamePath||folder?.clientDescription}}</div>
                                    </div>
                                </div>
                                <!--<div class="folderIconDetailMain" *ngIf="folder?.isNewFolder">
                                    <div class="folderIconIndetail">
                                        <i class="icon-folder-alt icons"></i>
                                    </div>
                                    <div class="fileNameCount">
                                        <span>
                                            <input type="text" name="name" [(ngModel)]="folder.folderName" (keydown)="onKeyDown($event,folder,'New')" />
                                            <i class="fa fa-save editPencilButton pointer" (click)="saveNewFolder(folder)"></i>
                                            <i class="fa fa-close editPencilButton pointer" (click)="cancelNewFolder()"></i>
                                        </span>
                                        <div *ngIf="folder?.isValid == false" class="validate"> Folder name is required</div>
                                    </div>
                                </div>-->
                                <!-- Folder Rename start -->
                                <!--<div class="folderIconDetailMain" *ngIf="folder?.isEnableEdit">
                                    <div class="folderIconIndetail">
                                        <i class="icon-folder-alt icons"></i>
                                    </div>

                                    <div class="fileNameCount">
                                        <div class="folderName p-l-0">
                                            <input type="text" name="name" [(ngModel)]="folder.folderName" class="form-control" (keydown)="onKeyDown($event,folder,'Edit')" />
                                            <div *ngIf="folder?.isValid == false" class="validate"> Folder name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div >

                                    <i class="fa fa-save editPencilButton pointer" (click)="editChildFolder(folder)"></i>
                                    <i class="fa fa-close editPencilButton pointer" (click)="cancelEdit(folder)"></i>

                                </div>-->
                                <!-- Folder Rename end -->
                            </td>
                            <td><div class="dateTimeContent">{{folder?.dateCreated | date}}</div></td>
                            <td>
                                <div class="dateTimeContent" *ngIf="!folder?.isNewFolder">{{getDays(folder?.lastAccessedDate)}}</div>
                                <div class="dateTimeContent" *ngIf="folder?.isNewFolder"> - </div>
                            </td>
                            <!--<td><div class="dateTimeContent" *ngIf="!folder?.isNewFolder">Standard</div></td>-->
                            <td align="center">
                                <!--<div class="btn-group" dropdown placement="bottom right" *ngIf="!folder?.isNewFolder">
                                    <button id="button-alignment" dropdownToggle type="button"
                                            class="btn folderListBtn" aria-controls="dropdown-alignment">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </button>
                                    <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                        role="menu" aria-labelledby="button-alignment">
                                        <li role="menuitem" (click)="enableEdit(folder)"><a class="dropdown-item">Rename</a></li>
                                        <li role="menuitem" (click)="deleteFolder(folder)"><a class="dropdown-item">Delete</a></li>
                                    </ul>
                                </div>-->
                            </td>
                        </tr>

                        <tr *ngIf="((searchResult?.foldersList)?.length == 0)" style="pointer-events:none">
                            <td colspan="5" style="border:none">
                                <div>
                                    <p class="noOfFilesinFolder nofilesmsg">{{ error }}</p>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="showMoreFoldersBtn && searchResult?.foldersList?.length>5" class="showMore">
                            <td colspan="5" style="border:none;text-align: center;">
                                <div>
                                    <p class="folderListTitle" (click)="showMoreFolders()">SHOW MORE</p>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!showMoreFoldersBtn && searchResult?.foldersList?.length>5" class="showMore">
                            <td colspan="5" style="border:none;text-align: center;">
                                <div>
                                    <p class="folderListTitle" (click)="showLessFolders()">SHOW LESS</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="mobileFoldersView d-hide">
        <div class="foldersListHeader">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="header-title">Folders</h2>
                </div>
            </div>
        </div>
        <div class="folderListItems">
            <div class="row">
                <div class="col-md-12">
                    <ul class="folders-list">
                        <li class="folder-item" *ngFor="let folder of searchResult?.foldersList|slice:0:searchFoldersCount; let i = index">
                            <span class="folder-icon">
                                <i class="icon-folder-alt icons"></i>
                            </span>
                            <div class="folder-details">
                                <div (click)="showFolderDetails(folder)">
                                    <span class="folder-name">{{ folder?.folderName || folder?.clientDescription }}</span>
                                    <span class="folder-path">{{ folder?.folderNamePath || folder?.clientDescription }}</span>
                                    <span class="folder-mod-details">Modified: {{ folder?.lastAccessedDate | date: 'MMM dd, y' }}</span>
                                </div>
                            </div>
                        </li>
                        <li class="folder-item" *ngIf="((searchResult?.foldersList)?.length == 0)">
                            <p class="nofolders-error">{{ error }}</p>
                        </li>
                    </ul>

                    <div class="show-more-folders" *ngIf="((searchResult?.foldersList)?.length > 5)">
                        <p class="show-more text-center" (click)="showMoreFolders()" *ngIf="showMoreFoldersBtn">Show more</p>
                        <p class="show-less text-center" (click)="showLessFolders()" *ngIf="!showMoreFoldersBtn">Show less</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<p *ngIf="(searchResult.foldersList)?.length == 0" class="folderListTitle" style="padding: 15px 0 10px 50px;">No Folders To Display</p>-->
    <p class="m-hide" *ngIf="!isSaveToFolder">&nbsp;</p>
    <div *ngIf="!isSaveToFolder" class="my-folders m-hide">
        <h5 class="folderListTitle">Files</h5>
        <div class="table-rep-plugin">
            <div class="table-responsive">
                <table class="contentbrowsertble">
                    <tr>
                        <th>NAME</th>
                        <th>DATE CREATED</th>
                        <th>LAST UPDATED</th>
                        <!--<th>SHARING</th>-->
                        <th></th>
                    </tr>
                    <tr *ngFor="let file of searchResult?.filesList; let i = index">
                        <td>
                            <div class="folderIconDetailMain" (click)="navigateToContent(file.url)" *ngIf="!folder?.isNewFolder">
                                <div class="folderIconIndetail fileIcon">
                                    <!--<i class="icon-file-alt icons"></i>-->
                                    <i class="fa fa-file-text-o"></i>
                                </div>
                                <div class="fileNameCount">
                                    <div class="folderName p-l-0">
                                        <span>{{file.title}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><div class="dateTimeContent">{{file?.dateAdded | date}}</div></td>
                        <td><div class="dateTimeContent">{{file?.lastAccessedDate | date}}</div></td>
                        <!--<td><div class="dateTimeContent">Standard</div></td>-->
                        <td>
                            <div class="btn-group folderbtn-group" dropdown placement="bottom right" *ngIf="!folder?.isNewFolder">
                                <button id="button-alignment" dropdownToggle type="button"
                                        class="btn folderListBtn" aria-controls="dropdown-alignment">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </button>
                                <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                    role="menu" aria-labelledby="button-alignment">
                                    <li role="menuitem" (click)="navigateToContent(file.url,file.title)"><a class="dropdown-item">View/Download</a></li>
                                    <li role="menuitem" (click)="deleteFile(file)"><a class="dropdown-item">Delete</a></li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                    <tr *ngIf="(searchResult?.filesList)?.length == 0">
                        <td colspan="5">
                            <p class="noOfFilesinFolder nofilesmsg">
                                {{ fileError }}
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="mobileFoldersView d-hide" *ngIf="!isSaveToFolder">
        <div class="foldersListHeader">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="header-title">Files</h2>
                </div>
            </div>
        </div>
        <div class="folderListItems">
            <div class="row">
                <div class="col-md-12">
                    <ul class="folders-list">
                        <li class="folder-item" *ngFor="let file of searchResult?.filesList; let i = index">
                            <span class="folder-icon">
                                <i class="fa fa-file-text-o"></i>
                            </span>
                            <div class="folder-details">
                                <div (click)="navigateToContent(file.url)">
                                    <span class="folder-name">{{ file?.title }}</span>
                                    <span class="folder-mod-details">Created: {{ file?.dateAdded | date: 'MMM dd, y' }}</span>
                                </div>
                            </div>
                            <div class="folder-actions">
                                <div class="btn-group" dropdown placement="bottom right">
                                    <button id="button-alignment" dropdownToggle type="button" class="btn pointer" aria-controls="dropdown-alignment">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                    <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                        role="menu" aria-labelledby="button-alignment">
                                        <li role="menuitem" (click)="navigateToContent(file.url,file.title)"><a class="dropdown-item">View/Download</a></li>
                                        <li role="menuitem" (click)="deleteFile(file)"><a class="dropdown-item">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="folder-item" *ngIf="((searchResult?.filesList)?.length == 0)">
                            <p class="nofolders-error">{{ fileError }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isSaveToFolder">
    <hr />
    <button type="button" class="btn btn-primary pull-left" style="background:none;border:none;pointer-events:none;">Close</button>
    <button type="button" *ngIf="isSaveToFolder" class="btn btn-primary pull-right" style="background:none;border:none;pointer-events:none;">Save to this Folder</button>
    <br />
    <br />
</div>