<ng-template #errorModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">
            Alert <button type="button" class="close pull-right" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>

    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <span>{{ modalData.message }}</span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-primary" (click)="callBack()" *ngIf="modalData.showOk">OK</button>
        <button type="button" class="btn btn-outline-secondary btn-primary" (click)="closeModal()" *ngIf="modalData.showCancel">Cancel</button>
    </div>
</ng-template>
