<div class="guidance-note-page-container">
    <div class="row guidance-note-page cntnt-view news-page">
        <app-bread-crumb [practiceArea]="rootArea" [subTopic]="practiceArea" [guidanceHeader]="(rootArea!=undefined && practiceArea!=undefined) ? (newItem?.title): undefined" [title]="(newItem?.title)"></app-bread-crumb>        
        <div class="col-xs-12 col-lg-12 col-xl-12">
            <div class="row header-container">
                <div class="col-xs-12 col-md-8 col-lg-8" [ngClass]="(newItem?.datePublished)?'contentHeader':''">
                    <div class="guidance-note-header">
                        <div class="table-row">
                            <div class="table-cell">
                                <span *ngIf="(backButton == true)" class="folderBackMain" (click)="back()">
                                    <span class="fa fa-angle-left angleLeft leftarrowBackButton pg-icon"></span>
                                </span>
                            </div>
                            <div class="table-cell">
                                <h4 class="pageTitle p-l-0 m-t-10">
                                    <span [ngClass]="(backButton == false)? 'folderNameBack' : 'folderName'">{{newItem?.title}}</span>
                                </h4>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">
                            </div>
                            <div class="table-cell">
                                <strong [ngClass]="(backButton == false)? 'authorDetailsBack':'authorDetails'">
                                    <span class="authorName" *ngIf="authorNames?.length>0" [innerHtml]="authorNames">{{authorNames}}</span>
                                    <span class="authorName" *ngIf="newItem?.datePublished">Date Posted: {{newItem?.datePublished | date: 'd LLL, yyyy'}}</span>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4 text-right">
                    <span class="foldersButton">
                        <a (click)="openSaveToFolderModal()"><span class="ion-ios7-folder pg-icon"></span></a>
                        <a (click)="openEmailModal()"><span class="icon-envelope-letter icons pg-icon"></span></a>
                        <a class="pointer" (click)="openPermaLinkModal()" *ngIf="!newItem?.disablePermalink && !_pagerService.isMobile"><span class="icon-action-redo icons pg-icon"></span></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row  news-page">
        <div class="col-xs-12 col-lg-12 col-xl-12">
            <div class="card-box border-radius-0" *ngIf="contentHTML && !showChildContent">
                <div class="newsPageContent" [innerHTML]="contentHTML | safe:'html'"></div>
            </div>
            <div id="doc" class="guidanceContentMainDiv showGuidanceDetail" *ngIf="contentDetail && showChildContent" style="background-color:white; padding:30px 0;">
                <div id="docp" [ngClass]="libContent==true?'libcontent-div' : ''" class="custom-dynamic-component">
                    <div [innerHTML]="contentDetail|sanitize"></div>
                </div>
            </div>
            <div *ngIf="isPDF" class="subContent searchContent text-center">
                <app-pdf-viewer [pdfContent]="pdfContent"></app-pdf-viewer>
            </div>
        </div>
    </div>
</div>

<app-save-to-folder-modal [saveToFolderContent]="saveToFolderContent" (closeModal)="onCloseSaveToFolderModal($event)" (saveToFolder)="saveFileToFolder($event)"></app-save-to-folder-modal>

<app-permalink-modal [permaTitle]="practiceArea" [permaLink]="permaLink"></app-permalink-modal>
