<div #MatDialogReff mat-dialog-content>
    <div class="modal-header">
        <h5 class="modal-title">
            Subscription
            <button type="button" class="close pull-right" [mat-dialog-close]="true">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>

    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-sm-12 text-left"><h4 mat-dialog-title>Not Subscribed</h4></div>

            <div class="col-sm-12 text-left">

                <div><p>You are not subscribed to view the content in this Practice Area.</p></div>
                <br />
                <div><p>Please contact your Account Manager or Customer Services on 0860 765 432 or <a href="mailto:customercare@lexisnexis.co.za"> customercare@lexisnexis.co.za</a> should you wish to subscribe.</p> <p>&nbsp;</p></div>

            </div>
        </div>
    </div>
</div>