<!--<div *ngIf="!_authService.isLoggedIn && !_authService.isLoggedOut">
    <app-login [userName]="userName" [password]="password"></app-login>
</div>-->
<!-- Navigation Bar-->
<header id="topnav">
  <app-header1></app-header1>
  <div >
    <app-header2></app-header2>
  </div>
  <pg-email-modal></pg-email-modal>

</header>
<!-- End Navigation Bar-->
<div class="wrapper wrapper-dashboard" id="newpg" appBackToTop (scrolled)="isScrolled($event)">
    <div class="container">
        <router-outlet>
            <pg-spinner></pg-spinner>
        </router-outlet>
    </div> <!-- container -->
    <!-- <app-back-to-top *ngIf="(scrollVal > 0 ) && (_router.url=='/guidance-note' || _router.url=='/guidance-note/guidance-note-detail')"></app-back-to-top> -->
</div> <!-- End wrapper -->
<app-footer></app-footer>
<pg-modal></pg-modal>
<pg-error-modal></pg-error-modal>
