<div class="row search-result-page essential-page" *ngIf="essentialsList">
    <div class="col-xs-12 col-lg-4 col-xl-3 m-hide"></div>
    <div class="col-xs-12 col-md-12 col-lg-8 col-xl-9" *ngIf="!isPDF">
        <div class="row essential-header">
            <div class="col-xs-12 col-sm-12 col-md-12 filter-btn-col d-hide">
                <button type="button" class="btn btn-primary mfiltrsBtn d-hide" (click)="collapseSearch()"
                    data-toggle="collapse" data-target="#mFilters"><span class="fa fa-sliders pg-icon"></span> Filter
                    essentials</button>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 col-xl-7 result-col">
                <div class="essential-summary">
                    <ul class="essential-summary-box">
                        <li>
                            <span class="foldersButton">
                                <a (click)="navigateToPracticeAreaSubTopics()" class="pointer"><span
                                        class="fa fa-angle-left leftArrowIcon pg-icon"></span></a>
                            </span>
                        </li>
                        <li>
                            <span class="searchresultspaName"><strong>Essentials in
                                    {{selectedPracticeArea?.title}}</strong></span>
                            <div class="searchresultcontent" *ngIf="essentialsList.length != 0 && displayingCount">
                                Showing {{ displayingCount }} of {{totalPages}}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 col-xl-5 download-col">
                <div class="searchresultspa essential-summary text-right">
                    <span class="foldersButton" *ngIf="!isPDF">
                        <a (click)="openModalMultiEssentials()" class="pointer download-files"><span
                                class="ion-ios7-folder pg-icon"></span><span *ngIf="checkedEssential?.length>0"
                                class="download-count">{{checkedEssential?.length}}</span></a>
                        <a (click)="openFileDownloadModal()" class="pointer download-files"><span
                                class="zmdi zmdi-download pg-icon"></span><span *ngIf="checkedEssential?.length>0"
                                class="download-count">{{checkedEssential?.length}}</span></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12" *ngIf="isPDF">
        <div class="col-sm-12 guidance-note-page">
            <div class="col-md-12 col-lg-12">
                <h4 class="pageTitle p-l-0 m-t-10">
                    <span class="folderBackMain pull-left" (click)="isPDF= !isPDF">
                        <span class="fa fa-angle-left angleLeft leftarrowBackButton pg-icon"></span>
                    </span>
                    <span class="folderName"
                        title="{{pdfTitle}}">{{ pdfTitle?.length>45?(pdfTitle.substr(0, pdfTitle.substr(0,45).lastIndexOf(' ')))+'...':pdfTitle }}</span>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="row search-result-page essential-page m-hide" *ngIf="essentialsList">
    <div class="col-xs-12 col-lg-4 col-xl-3">
        <app-essential-filters [isMobiResolution]="false" [topics]="topics" [documentType]="documentType"
            (searchQueryEnter)="onSearchQueryEnter($event)" (updatePagination)="updatePagination($event)"
            (clearSearch)="clearSearch()" (collapseSearch)="collapseSearch()" (clearAllTopics)="clearAllTopics()"
            (selectAllTopics)="selectAllTopics()" (getEssentialsForSelectedTopics)="getEssentialsForSelectedTopics()"
            (setSeletedTopic)="setSeletedTopic($event)" (setAllDocumentType)="setAllDocumentType()"
            (setDocumentType)="setDocumentType($event)" *ngIf="!isPDF">
        </app-essential-filters>
    </div>
    <div class="col-xs-12 col-lg-8 col-xl-9" *ngIf="!isPDF">
        <app-essential-list [filteredEssentials]="filteredEssentials" [curPage]="curPage" [pages]="pages"
            [pagesCount]="pagesCount" [error]="error" (pageSizeChange)="onPageSizeChange($event)"
            (essentialChecked)="essentialChecked($event)" (openTab)="openTab($event)"
            (downloadContent)="downloadContent($event)" (setToPage)="setToPage($event)"
            (loadPreviousPage)="loadPreviousPage()" (loadNextPage)="loadNextPage()"
            (openSaveToFolderModal)="openSaveToFolderModal($event)">
        </app-essential-list>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12" *ngIf="isPDF">
        <app-pdf-viewer [pdfContent]="pdfContent"></app-pdf-viewer>
    </div>
</div>

<div class="row search-result-page essential-page filterMainDivForMob hidden-lg-up" *ngIf="essentialsList">
    <div class="col-xs-12 col-lg-4 col-xl-3" *ngIf="!isPDF && isCollapsedChange==false">
        <app-essential-filters [isMobiResolution]="true" [topics]="topics" [documentType]="documentType"
            (searchQueryEnter)="onSearchQueryEnter($event)" (updatePagination)="updatePagination($event)"
            (clearSearch)="clearSearch()" (collapseSearch)="collapseSearch()" (clearAllTopics)="clearAllTopics()"
            (selectAllTopics)="selectAllTopics()" (getEssentialsForSelectedTopics)="getEssentialsForSelectedTopics()"
            (setSeletedTopic)="setSeletedTopic($event)" (setAllDocumentType)="setAllDocumentType()"
            (setDocumentType)="setDocumentType($event)" *ngIf="!isPDF">
        </app-essential-filters>
    </div>
    <div class="col-xs-12 col-lg-8 col-xl-9 essentials-col" *ngIf="!isPDF && isCollapsedChange==true">
        <app-essential-list [filteredEssentials]="filteredEssentials" [curPage]="curPage" [pages]="pages"
            [pagesCount]="pagesCount" [error]="error" (pageSizeChange)="onPageSizeChange($event)"
            (essentialChecked)="essentialChecked($event)" (openTab)="openTab($event)"
            (downloadContent)="downloadContent($event)" (setToPage)="setToPage($event)"
            (loadPreviousPage)="loadPreviousPage()" (loadNextPage)="loadNextPage()"
            (openSaveToFolderModal)="openSaveToFolderModal($event)">
        </app-essential-list>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12" *ngIf="isPDF">
        <app-pdf-viewer [pdfContent]="pdfContent"></app-pdf-viewer>
    </div>

</div>

<app-save-to-folder-modal [saveToFolderContent]="saveToFolderContent" (closeModal)="onCloseSaveToFolderModal($event)"
    (saveToFolder)="saveFileToFolder($event)"></app-save-to-folder-modal>

<app-pg-alert-modal (onCloseModal)="onCloseAlert()"></app-pg-alert-modal>