<div class="row myfolders-header  folders-details my-folders">
    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-4 col-xl-4">
        <div class="noOfFilesinFolder noOfFilesAndFoldersinFolder" [ngClass]="isSaveToFolder?'p-0':''"
            *ngIf="!searchResult">
            <span *ngIf="folders && files">You have {{FoldersCount}} folder(s), {{files?.length}} file(s) in this
                folder</span>
        </div>
        <div class="noOfFilesinFolder noOfFilesAndFoldersinFolder" [ngClass]="isSaveToFolder?'p-0':''"
            *ngIf="searchResult">
            <span [ngClass]="isSaveToFolder?'p-0':''">You have
                {{(searchResult.foldersList!=null?searchResult.foldersList.length:0)}} folder(s),
                {{searchResult?.filesList?.length}} file(s)</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-8 col-xl-8">
        <div class="searchNewFolder parentfolders text-right my-folders">
            <div id="custom-search-input-top" class="FilterSearch1">
                <input type="text" [(ngModel)]="fileFolderName"
                    class="form-control input-lg downloadsSearchInput img-responsive"
                    placeholder="Search within this folder" (keypress)="forceSearch($event)">
                <a *ngIf="fileFolderName?.trim().length>0 || searchResult"
                    class="practiceAreaCrossMark filter-clear ng-star-inserted"
                    style="display:table-cell;padding-right:9px;cursor:pointer;color:#EA1C2C; vertical-align: middle"
                    (click)="clearSearch()">X</a>
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg searchbutton" type="button" (click)="searchForFilesAndFolders()">
                        <span class="fa fa-search Filtersearchbutton pg-icon" style="color: white;"></span>
                    </button>
                </span>
            </div>
            <span class="newFolder">
                <a [ngClass]="(isEnableNewFolder && !searchResult)? 'btn btn-sm btn-custom waves-effect waves-light pull-xs-right folderbtn pointer' : 'btn btn-sm btn-custom waves-effect waves-light pull-xs-right folderbtn pointer disableCursor'"
                    (click)="newFolderBtnClick()"><span class="zmdi zmdi-plus pg-icon"></span>New Folder</a>
            </span>
        </div>
    </div>
</div>

<div class="folders-details" *ngIf="!searchResult">
    <h5 class="folderListTitle m-hide" *ngIf="!isSaveToFolder">Folders</h5>
    <div class="table-rep-plugin folders-details">
        <app-folders [folders]="folders" [foldersSize]="foldersSize" [error]="folderError"
            (newFolderEnter)="onKeyDown($event)" (addNewClient)="saveNewFolder($event)"
            (editClient)="editChildFolder($event)" (cancelEdit)="cancelEdit($event)"
            (cancelCreateClientFolder)="cancelNewFolder()" (enableEdit)="enableEdit($event)"
            (deleteClient)="deleteFolder($event)" (showFolderDetails)="navigateToFolder($event)"
            (showMoreFolders)="showMoreFolders()" (showLessFolders)="showLessFolders()"
            (navigateToContent)="onNavigateToContent($event)">
        </app-folders>
    </div>
</div>

<div *ngIf="!isSaveToFolder && !searchResult" class="folders-details my-folders">
    <div class="table-rep-plugin">
        <app-files [files]="files" [fileError]="fileError" (navigateToContent)="onNavigateToContent($event)"
            (deleteFile)="deleteFile($event)"></app-files>
    </div>
</div>

<!--search results-->
<div *ngIf="searchResult" class="folders-details folderSearchResult">
    <h4 class="folderListTitle m-hide" *ngIf="!isSaveToFolder">Search Result</h4>
    <div class="my-folders p-0">
        <h5 class="folderListTitle" *ngIf="!isSaveToFolder">Folders</h5>
        <div class="table-rep-plugin">
            <app-folders [forSearch]="true" [folders]="searchResult.foldersList" [foldersSize]="searchFoldersCount"
                [error]="folderError" (newFolderEnter)="onKeyDown($event)" (addNewClient)="saveNewFolder($event)"
                (editClient)="editChildFolder($event)" (cancelEdit)="cancelEdit($event)"
                (cancelCreateClientFolder)="cancelNewFolder()" (enableEdit)="enableEdit($event)"
                (deleteClient)="deleteFolder($event)" (showFolderDetails)="navigateToFolder($event)"
                (showMoreFolders)="showMoreSearchFolders()" (showLessFolders)="showLessSearchFolders()"
                (navigateToContent)="onNavigateToContent($event)">
            </app-folders>
        </div>
    </div>
    <p class="m-hide" *ngIf="!isSaveToFolder">&nbsp;</p>
    <div *ngIf="!isSaveToFolder" class="my-folders">
        <app-files [files]="searchResult?.filesList" [fileError]="fileError"
            (navigateToContent)="onNavigateToContent($event)" (deleteFile)="deleteFile($event)"></app-files>
    </div>
</div>
<div *ngIf="isSaveToFolder && selectedFolders?.length==1">
    <span style="color: red;">You are in a client folder, please select a folder to save</span>
</div>
<div class="save-btn-section" *ngIf="isSaveToFolder && selectedFolders?.length>1">
    <hr />
    <button type="button" class="btn btn-primary pull-left" (click)="popUpCloseClick(false)">Close</button>
    <button type="button" *ngIf="isSaveToFolder" class="btn btn-primary pull-right" (click)="OnSaveToFolderClick()">Save
        to this Folder</button>
    <br />
    <br />
</div>
<div class="save-btn-section" *ngIf="isSaveToFolder && selectedFolders?.length==1">
    <hr />
    <button type="button" class="btn btn-primary pull-left"
        style="background:none;border:none;pointer-events:none;">Close</button>
    <button type="button" *ngIf="isSaveToFolder" class="btn btn-primary pull-right"
        style="background:none;border:none;pointer-events:none;">Save to this Folder</button>
    <br />
    <br />
</div>