<!-- Footer -->
<footer class="footer text-right">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="footerLeft">PRIVACY POLICY | T&Cs | COPYRIGHT {{year}} LEXISNEXIS</div>
      </div>
      <div class="col-xs-6 text-right">
        <div class="footerImageLexis"><img src="{{pgConstants.Images.FooterImages.lnIcon}}" alt="Lexis Nexis"/> <img src="{{pgConstants.Images.FooterImages.relIcon}}" alt="Relx Group"/></div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
