
<div class="form-group" *ngIf="isSaveToFolder">
    <label for="title">Title</label>
    <input type="email" class="form-control" id="title" placeholder="Title" [(ngModel)]="saveToFolderContent.title">
</div>

<pg-folder-list *ngIf="currentSelection == 'ClientList'"
                [folderInfo]="folderInfo"
                (selectedFolder)="onClientFolderClick($event)"
                (addNewClientFolder)="onNewClientAdd($event)"
                (editClientFolder)="onClientFolderEdit($event)"
                (deleteClientFolder)="onClientFolderDelete($event)"
                 [isSaveToFolder]="isSaveToFolder">
</pg-folder-list>
<pg-folder-parent *ngIf="currentSelection == 'parentFolder'"
                  [mainClientFolder]="clientFolder"
                  (selectedParentFolder)="onParentFolderSelect($event)"
                  (parentFolderBackClick)="onParentFolderBackClick()"
                  (addNewParentFolder)="onNewParentAdd($event)"
                  (EditParentFolder)="onEditFolder($event)"
                  (folderDelete)="onFolderDelete($event)"
                  [isSaveToFolder]="isSaveToFolder">
</pg-folder-parent>

<pg-folder-detail *ngIf="currentSelection == 'folderDetails'"
                  [folderDetails]="folderDetails"
                  (folderBackClick)="onFolderBackClick($event)"
                  (selectedFolder)="onFolderClick($event)"
                  [breadCrumb]="breadCrumb"
                  [selectedFolders]="selectedFolders"
                  (addNewFolder)="onNewFolderAdd($event)"
                  (EditFolder)="onEditFolder($event)"
                  (folderDelete)="onFolderDelete($event)"
                  [isSaveToFolder]="isSaveToFolder"
                  (saveToFolder)="onSaveToFolder($event)"
                  (fileDelete)="onFileDelete($event)"
                  (popUpClose)="popUpCloseClick()">
</pg-folder-detail>
<div *ngIf="(currentSelection == 'ClientList' || currentSelection == 'parentFolder') && isSaveToFolder">
    <hr />
    <button type="button" class="btn btn-primary pull-left" (click)="popUpCloseClick()">Close</button>
    <br />
    <br />
</div>
