<div class="row my-folders-page">
  <div class="col-xs-12 col-lg-12 col-xl-12 col-md-12">
    <div class="card-box border-radius-0 my-folders p-0">
      <div class="row myfolders-header">
        <div class="col-xs-12 col-md-6 col-lg-3 col-xl-3">
          <span class="noOfFoldersTxt">You have {{FoldersCount}} folders</span>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-9 col-xl-9">
          <div class="searchNewFolder text-right">
            <div id="custom-search-input-top" class="FilterSearch1">
              <input type="text" [(ngModel)]="fileFolderName" class="form-control input-lg downloadsSearchInput img-responsive" placeholder="Search folders">
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg searchbutton" type="button">
                  <i class="fa fa-search Filtersearchbutton"></i>
                </button>
              </span>
            </div>
            <span class="newFolder">
              <a [ngClass]="(isEnableNewFolder)? 'btn btn-sm btn-custom waves-effect waves-light pull-xs-right folderbtn pointer' : 'btn btn-sm btn-custom waves-effect waves-light pull-xs-right folderbtn pointer disableCursor'"
                 (click)="createClientFolder()"><i class="zmdi zmdi-plus"></i>New Folder</a>
            </span>
          </div>
        </div>
      </div>
      <div class="table-rep-plugin">
        <div class="table-responsive">
          <table class="contentbrowsertble">

            <tr>
              <th>NAME</th>
              <th>DATE CREATED</th>
              <th>LAST UPDATED</th>
              <th>SHARING</th>
              <th>Edit Folder</th>
            </tr>
            <tr *ngFor="let folder of folderInfo | filter: fileFolderName">
              <td>
                <div class="folderIconDetailMain" (click)="showFolderDetails(folder)" *ngIf="!folder?.isNewFolder">
                  <div class="folderIconIndetail col-sm-6 col-md-2 col-lg-2">
                    <i class="icon-folder-alt icons"></i>
                  </div>
                  <div class="fileNameCount col-sm-6 col-md-10 col-lg-10" *ngIf="!folder?.isNewFolder && !folder?.isEnableEdit">
                    <div class="folderName p-l-0">{{folder?.clientDescription}}</div>
                    <div class="noOfFolders">{{folder.fileCount}} File(s) , {{folder.folderCount}} Folder(s)</div>
                  </div>
                </div>
                <div class="folderIconDetailMain" *ngIf="folder?.isNewFolder">
                  <div class="folderIconIndetail col-sm-6 col-md-2 col-lg-2">
                    <i class="icon-folder-alt icons"></i>
                  </div>
                  <div class="fileNameCount col-sm-6 col-md-10 col-lg-10">
                    <div class="folderName p-l-0">
                      <input type="text" name="name" value="" [(ngModel)]="folder.clientDescription" class="form-control" (keydown)="onKeyDown($event,folder,'New')" />
                      <div *ngIf="folder.isValid == false">Folder Name is required</div>
                    </div>
                  </div>
                </div>
                <div *ngIf="folder?.isEnableEdit">
                  <input type="text" name="name" [(ngModel)]="folder.clientDescription" (keydown)="onKeyDown($event,folder,'Edit')" />
                  <i class="fa fa-save editPencilButton pointer" (click)="editClient(folder)"></i>
                  <i class="fa fa-close cancel editPencilButton pointer" (click)="cancelEdit(folder)"></i>
                  <div *ngIf="folder.isValid == false">Folder Name is required</div>
                </div>
              </td>
              <td><div class="dateTimeContent">{{folder?.dateCreated | date}}</div></td>
              <td><div class="dateTimeContent" *ngIf="!folder?.isNewFolder">{{getDays(folder?.lastAccessedDate)}} day(s) ago</div>
                  <div class="dateTimeContent" *ngIf="folder?.isNewFolder"> - </div>
                </td>
              <td><div class="dateTimeContent">Standard</div></td>
              <td>
                <i *ngIf="folder?.isNewFolder" class="fa fa-save editPencilButton pointer" (click)="addNewClient(folder)" title="Create Folder"></i>
                <i *ngIf="folder?.isNewFolder" class="fa fa-close cancel editPencilButton pointer" (click)="cancelCreateClientFolder()" title="Cancel"></i>
                <div class="btn-group" dropdown placement="bottom right" *ngIf="!folder?.isNewFolder">
                  <button id="button-alignment" dropdownToggle type="button"
                          class="btn folderListBtn" aria-controls="dropdown-alignment">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </button>
                  <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                      role="menu" aria-labelledby="button-alignment">
                    <li role="menuitem" (click)="enableEdit(folder)"><a class="dropdown-item">Rename</a></li>
                    <li role="menuitem" (click)="deleteClient(folder)"><a class="dropdown-item">Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr *ngIf="(folderInfo | filter: fileFolderName)?.length == 0">
              <td colspan="5" align="left">
                <br />
                <br />
                <h5><div class="noOfFilesinFolder nofilesmsg">No Folder(s) found.</div></h5>
                <br />
                <br />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
