<div class="guidanceContentMainDiv">
    <div class="guidanceRefrencecnt">
        <div class="guidanceHeadContent" *ngFor="let guidance of guidances|filterByProperty: guidanceSearch: 'title' : 'overview' : 'subContentDomains.title'; index as i">
            <div class="pointer guidanceHeading" (click)="setGuidanceDomainPath(guidance)">
                {{guidance.title}}
            </div>
            <p class="gnOverview" *ngIf="guidance.overview!=''">
                <pg-read-more [text]="guidance?.overview" [limitCount]="210"></pg-read-more>
            </p>
            <p></p>
            <mat-accordion>
                <mat-expansion-panel expanded *ngIf="i == 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="keySections">
                                <span class="key-section-header"><span class="fa fa-chevron-down pg-icon"></span> <span class="title">KEY SECTIONS</span></span>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="keySectionsContent" *ngFor="let subContentDomain of guidance?.subContentDomains">
                        <span class="cursor pointer" (click)="setSubContentDomainPath(subContentDomain)">{{subContentDomain.title}}</span>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel collapsed *ngIf="i != 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="keySections">
                                <span class="key-section-header"><span class="fa fa-chevron-down pg-icon"></span> <span class="title">KEY SECTIONS</span></span>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="keySectionsContent" *ngFor="let subContentDomain of guidance?.subContentDomains">
                        <span class="cursor pointer" (click)="setSubContentDomainPath(subContentDomain)">{{subContentDomain.title}}</span>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <hr />
        </div>
        <div class="guidanceHeadContent" *ngIf="(guidances|filterByProperty: guidanceSearch: 'title' : 'overview' : 'subContentDomains.title')?.length == 0">
            <p class="noRecordsTxt">{{ error ? error : pgMessages.guidanceNote.noGuidance }}</p>
        </div>
        <div class="guidanceHeadContent" *ngIf="guidances == undefined">
            <p class="noRecordsTxt">Loading...</p>
        </div>
    </div>
</div>
