<div class="row folders-details">
  <div class="col-xs-12 col-lg-12 col-xl-12">
    <div class="breadcrumb-text">
      <div>&nbsp;</div>
    </div>
  </div>
  <div class="col-sm-12  col-xs-12 col-md-12 col-lg-9">
    <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-8">

        <h4 class="pageTitle p-l-0 m-t-10">
          <span class="folderBackMain">
            <i class="fa fa-angle-left angleLeft backArrowButton" (click)="Folders()"></i>
          </span>
          <span class="folderName pointer">Folder Name <i class="far fa-edit"></i></span>
        </h4>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 text-right">
        <span class="foldersButton">
          <span class="glyphicon glyphicon-save saveButton boxshadow"></span>
        </span>
        <span class="foldersButton">
          <span class="ti-settings  saveButton boxshadow cog"></span>
        </span>
        <span class="foldersButton">
          <span class="glyphicon glyphicon-trash saveButton boxshadow"></span>
        </span>
        <span class="foldersButton">
          <span class="icon-action-redo icons saveButton boxshadow sharei"></span>
        </span>



      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="files">
  <div class="col-xs-12 col-lg-9 col-xl-9">
    <div class="card-box border-radius-0 folders-details p-0">
      <div class="paLeftMainDivDashboard">
        <div class="allContentMyNotesMainDiv">
          <div id="custom-search-input-top" class="FilterSearch">
            <input type="text" #Search (keyup)="filterFolder(Search.value,$event)" class="form-control input-lg downloadsSearchInput img-responsive" placeholder="Search within this folder">
            <span class="input-group-btn">
              <button class="btn btn-info btn-lg searchbutton" type="button">
                <i class="glyphicon glyphicon-search Filtersearchbutton"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      
       
          <div class="row">
            <div class="col-xs-12 col-lg-12 col-xl-12">
              <div class="noOfFilesinFolder">You have {{files?.length}} files in this folder</div>
            </div>
          </div>
        <div class="table-rep-plugin">
            <div class="table-responsive">
                <table class="contentbrowsertble">

                    <tr>
                        <th>NAME</th>
                        <th>DATE CREATED</th>
                        <th>LAST UPDATED</th>
                        <th>SHARING</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let file of files; let i = index">
                        <td>
                            <div class="folderIconDetailMain" (click)="showFolderDetails(folder)" *ngIf="!folder?.isNewFolder">
                                <div class="folderIconIndetail col-sm-6 col-md-6 col-lg-6">
                                    <i class="icon-folder-alt icons"></i>
                                </div>
                                <div class="fileNameCount col-sm-6 col-md-6 col-lg-6">
                                    <div class="folderName p-l-0">
                                        <span *ngIf="!folders[i]?.isNewFolder" (click)="navigateToFolder(folders[i])">{{folders[i]?.folderName}}</span>
                                        <span *ngIf="folders[i]?.isNewFolder">
                                            <input type="text" name="name" [(ngModel)]="folders[i].folderName" />
                                            <i class="fa fa-save editPencilButton pointer" (click)="saveNewParentFolder(folders[i])"></i>
                                            <i class="fa fa-close editPencilButton pointer" (click)="cancelAddNewParentFolder()"></i>
                                        </span>
                                    </div>
                                    <div class="noOfFolders"> Files ,  Folders</div>
                                </div>
                            </div>
                            <div class="folderIconDetailMain" *ngIf="folder?.isNewFolder">
                                <div class="folderIconIndetail col-sm-6 col-md-6 col-lg-6">
                                    <i class="icon-folder-alt icons"></i>
                                </div>
                                <div class="fileNameCount col-sm-6 col-md-6 col-lg-6">
                                    <div class="folderName p-l-0"><input type="text" name="name" value="" [(ngModel)]="folder.clientDescription" class="form-control" /></div>
                                    <div class="noOfFolders">0 Files , 0 Folders</div>
                                </div>
                            </div>
                        </td>
                        <td><div class="dateTimeContent">{{folder?.dateCreated | date}}</div></td>
                        <td><div class="dateTimeContent">{{folder?.lastAccessedDate | date}}</div></td>
                        <td><div class="dateTimeContent">Standard</div></td>
                        <td align="center">


                            <div class="btn-group" dropdown placement="bottom right">
                                <button id="button-alignment" dropdownToggle type="button"
                                        class="btn folderListBtn" aria-controls="dropdown-alignment">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </button>
                                <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                    role="menu" aria-labelledby="button-alignment">
                                    <li role="menuitem"><a class="dropdown-item" href="#.">Rename</a></li>
                                    <li role="menuitem"><a class="dropdown-item" href="#.">Delete</a></li>
                                </ul>
                            </div>


                        </td>
                    </tr>
                </table>
            </div>
        </div>
          <ng-container *ngFor="let file of files; let i = index">
            <div class="row" *ngIf="i%4==0">
              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" *ngIf="files[i]">
                <div class="card-box tilebox-one" (click)="navigateToContent(files[i].url)">
                  <div class="badge-lable">
                    <span class="badge badge-secondary">{{files[i].contentType}}</span>
                    <div class="radio radio-success radio-circle pull-xs-right">
                      <input type="radio" name="folderdetails">
                      <label for="radio3"></label>
                    </div>
                  </div>
                  <h5 class="m-b-10 m-t-10" data-plugin="counterup">{{files[i].title}}</h5>
                  <span class="text-muted">{{files[i].desc}}</span>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" *ngIf="files[i+1]">
                <div class="card-box tilebox-one" (click)="navigateToContent(files[i+1].url)">
                  <div class="badge-lable">
                    <span class="badge badge-secondary">{{files[i+1].contentType}}</span>
                    <div class="radio radio-success radio-circle pull-xs-right">
                      <input type="radio" name="folderdetails">
                      <label for="radio3"></label>
                    </div>
                  </div>

                  <h5 class="m-b-10 m-t-10" data-plugin="counterup">{{files[i+1].title}}</h5>
                  <span class="text-muted">{{files[i+1].desc}}</span>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" *ngIf="files[i+2]">
                <div class="card-box tilebox-one" (click)="navigateToContent(files[i+2].url)">
                  <div class="badge-lable">
                    <span class="badge badge-secondary">{{files[i+2].contentType}}</span>
                    <div class="radio radio-success radio-circle pull-xs-right">
                      <input type="radio" name="folderdetails">
                      <label for="radio3"></label>
                    </div>
                  </div>

                  <h5 class="m-b-10 m-t-10" data-plugin="counterup">{{files[i+2].title}}</h5>
                  <span class="text-muted">{{files[i+2].desc}}</span>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" *ngIf="files[i+3]">
                <div class="card-box tilebox-one" (click)="navigateToContent(files[i+3].url)">
                  <div class="badge-lable">
                    <span class="badge badge-secondary">{{files[i+3].contentType}}</span>
                    <div class="radio radio-success radio-circle pull-xs-right">
                      <input type="radio" name="folderdetails">
                      <label for="radio3"></label>
                    </div>
                  </div>

                  <h5 class="m-b-10 m-t-10" data-plugin="counterup">{{files[i+3].title}}</h5>
                  <span class="text-muted">{{files[i+3].desc}}</span>
                </div>
              </div>
            </div>
          </ng-container>

      
      

      <!-- end row -->

    </div>
  </div>
  <div class="col-xs-12 col-lg-3 col-xl-3">

  </div>

</div>

<div class="row foldersnameButtons" *ngIf="FolderFileView">
  <div class="col-xs-12 col-lg-12 col-xl-12">
    <div class="guidanceContentMainDiv">
      <h4><div class="noOfFilesinFolder nofilesmsg">No Files To Display !!!</div></h4>
    </div>
  </div>

</div>

<div *ngIf="folderContentListInfo.folderContentList">
  <div class="modal fade" id="UpdateCreatefoler" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 999999;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Update Folder</h4>
            <button type="button" class="close" data-dismiss="modal">X</button>
          </div>
          <div class="modal-body">
            <p>Update folder</p> <input id="txtnotes" [value]="Createfoldertxt" #TextNotes />
          </div>
          <div class="modal-footer">
            <button type="button" style="cursor:pointer" class="btn btn-primary btn-sm" data-dismiss="modal" (click)="updateCreatFolder(TextNotes.value)">Update</button>
            <button type="button" style="cursor:pointer" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">
      Update Folder
      <button type="button" class="close pull-right" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </h5>

  </div>
  <div class="modal-body">

    <div class="row">

      <div class="col-md-12"><input id="txtnotes" [value]="Parentfoldername" #TextNotes class="form-control col-lg-12" placeholder="Update Folder Name" /></div>
      
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="updateCreatFolder(TextNotes.value)">{{"Update"}}</button>
    <!--<button type="button" class="btn btn-outline-secondary" (click)="createfolderbtn==true?saveCreatFolder(TextNotes.value):updateCreatFolder(TextNotes.value)" [disabled]="createfolderbtn==true?TextNotes.value=='':Createfoldertxt === TextNotes.value">{{createfolderbtn==true?"create": "update"}}</button>-->
  </div>
</ng-template>


