<div class="subtopic-container">
    <div class="row guidance-note-page sub-topics">
        <app-bread-crumb [practiceArea]="practiceArea"></app-bread-crumb>
        <!--<div class="col-xs-12 col-lg-12 col-xl-12">
            <div class="breadcrumb-text">
                <div>You are here: <span><a routerLink="/dashboard">DashBoard</a></span> > {{practiceArea}}</div>
            </div>
        </div>-->
        <div class="col-sm-12  col-xs-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h4 class="pageTitle p-l-0 m-t-10">
                        <span class="folderBackMain pull-left" (click)="backToSubTopic()" *ngIf="isPDF">
                            <span class="fa fa-angle-left angleLeft leftarrowBackButton pg-icon"></span>
                        </span>
                        <span class="folderName" *ngIf="!isPDF">{{practiceArea}}</span>
                        <span class="folderName" *ngIf="isPDF">{{pdfTitle}}</span>
                    </h4>
                    <div class="readmoreDsc subTopics" *ngIf="!isPDF"><pg-read-more text="{{paGuidance}}" [limitCount]="180"></pg-read-more></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  guidance-note-page sub-topics">
        <div class="col-xs-12 col-lg-8 col-xl-9" *ngIf="!isPDF">
            <div class="card-box border-radius-0 p-0 topics-block">
                <div class="mobileReadMore">
                    <div class="overViewMobile">OVERVIEW</div>
                    <pg-read-more text="{{paGuidance}}"></pg-read-more>
                </div>
                <category [practiceAreaDet]="currentTopic" (subTopic)="navigateToGuidanceNote($event)"></category>
                <whats-new [news]="news" [whatsNewInput]="whatsNewInput"></whats-new>
            </div>
        </div>
        <div class="col-xs-12 col-lg-12 col-xl-12 col-md-12 col-sm-12" *ngIf="isPDF">
            <app-pdf-viewer [pdfContent]="pdfContent"></app-pdf-viewer>
        </div>
        <div class="col-xs-12 col-lg-4 col-xl-3" *ngIf="!isPDF">
            <essentials [essentials]="essentials" (essential)="downloadContent($event)"></essentials>
            <recently-viewed [recentlyViewed]="recentlyViewed" (selectedRecentlyViewed)="onRecentlyViewClick($event)" (viewAllClick)="onViewAllClick()"></recently-viewed>
        </div>
    </div>
</div>
