<div class="guidance-note-page-container">
    <div class="row guidance-note-page gndetail-page note-details">
        <div class="col-xs-12 col-lg-12 col-xl-12">
            <div class="breadcrumb-text">
                <div>
                    You are here: <span routerLink="/dashboard"><a>Dashboard</a></span>  >
                    <span *ngIf="viewModel?.practiceArea != ''" (click)="breadCrumbNavigation(subtopicBreadCrumb,'subTopic')"> <a>{{viewModel?.practiceArea}}</a> > </span>
                    <span *ngIf="viewModel?.topic != ''" (click)="breadCrumbNavigation(guidanceNoteBreadCrumb,'guidanceNote')"> <a>{{viewModel?.topic}}</a> > </span>
                    <!--<span> {{guidanceNoteDetailBreadCrumb?.previousRouteStateParams?.viewModel?.title}}</span>-->
                    <span> {{guidanceHeader}}</span>
                </div>
                <div *ngIf="showGuidanceDetailChildContent" class="pointer" (click)="back()">Back</div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12" [ngClass]="(essentials?.length == 0 && contentOutlinesList?.length == 0) ? 'col-lg-12 col-xl-12' : 'col-lg-8 col-xl-9'">
            <div class="row header-container" *ngIf="!isPDF">
                <div class="col-xs-12 col-md-8 col-sm-8" [ngClass]="(essentials?.length == 0 && contentOutlinesList?.length == 0) ? 'col-lg-9 col-xl-9' : 'col-lg-8 col-xl-8'">
                    <div class="guidance-note-header">
                        <div class="table-row">
                            <div class="table-cell">
                            </div>
                            <div class="table-cell">
                                <span class="label label-pill label-default">{{rootArea}}</span>
                            </div>
                        </div>

                        <div class="table-row">
                            <div class="table-cell">
                                <span *ngIf="(backButton == true)" class="folderBackMain" (click)="back()">
                                    <i class="fa fa-angle-left angleLeft leftarrowBackButton"></i>
                                </span>
                            </div>
                            <div class="table-cell">
                                <h4 class="pageTitle p-l-0 m-t-10">
                                    <span class="folderName" [ngClass]="(backButton==false)?'folderNameMargin':''" title="{{guidanceHeader}}">{{guidanceHeader.length>45?(guidanceHeader.substr(0, guidanceHeader.substr(0,45).lastIndexOf(' ')))+'...':guidanceHeader}}</span>
                                </h4>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">
                            </div>
                            <div class="table-cell">
                                <b class="authorDetails" [ngClass]="(backButton==false)?'authorDetailsMargin':''">
                                    <span class="authorName" *ngIf="authorNames!=null" [innerHtml]="authorNames">{{authorNames}}</span>
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-4 text-right" [ngClass]="(essentials?.length == 0 && contentOutlinesList?.length == 0) ? 'col-lg-3 col-xl-3' : 'col-lg-4 col-xl-4'">
                    <span class="foldersButton">
                        <!--<a href="javascript:void(0);"><i class="icon-star icons"></i></a>-->
                        <a (click)="showFolderModal(modalContent)"><i class="ion-ios7-folder"></i></a>
                        <a (click)="openEmailModal(modalEmailContent)" class="pointer"><i class="icon-envelope-letter icons"></i></a>
                        <a class="pointer" (click)="openFileDownloadModal(downloadModal)"><i class="zmdi zmdi-download"></i></a>
                        <a class="pointer" (click)="openPermaLinkModal(permaLinkModal)" *ngIf="!_pageService.isMobile"><i class="icon-action-redo icons"></i></a>
                    </span>
                </div>
            </div>
            <div class="row" *ngIf="isPDF">
                <div class="col-md-12 col-lg-12">
                    <h4 class="pageTitle p-l-0 m-t-10">
                        <span class="folderBackMain pull-left" (click)="isPDF= !isPDF">
                            <i class="fa fa-angle-left angleLeft leftarrowBackButton"></i>
                        </span>
                        <span class="folderName" title="{{pdfTitle}}">{{ pdfTitle?.length>45?(pdfTitle.substr(0, pdfTitle.substr(0,45).lastIndexOf(' ')))+'...':pdfTitle }}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row  guidance-note-page">
        <div class="col-xs-12 col-lg-12 col-xl-12" *ngIf="isPDF">
            <!--<div class="card-box border-radius-0 searchContent">
                <iframe [src]="pdfContent | safe: 'resourceUrl' " title="pdfTitle" width="100%" height="800px"></iframe>
            </div>-->
            <app-pdf-viewer [pdfContent]="pdfContent"></app-pdf-viewer>
        </div>
        <div class="col-xs-12" [ngClass]="(essentials?.length == 0 && contentOutlinesList?.length == 0) ? 'col-lg-12 col-xl-12' : 'col-lg-8 col-xl-9'">
            <div class="card-box border-radius-0 guiRefTabs" *ngIf="!guidanceDetail && !isPDF" style="height: 500px;">
                <div class="guidanceContentMainDiv showGuidanceDetail">
                    <span>Loading...</span>
                </div>
            </div>
            <div class="card-box border-radius-0 guiRefTabs" *ngIf="showGuidanceDetail && !isPDF">
                <div id="doc" class="guidanceContentMainDiv showGuidanceDetail" *ngIf="!showGuidanceDetailChildContent && guidanceDetail">
                    <!--<ng-container *compile="guidanceDetail; context: this">
                    </ng-container>-->
                    <div id="docp" [ngClass]="libContent==true?'libcontent-div' : ''" class="custom-dynamic-component">
                        <div  [innerHTML]="guidanceDetail|sanitize"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-lg-4 col-xl-3" *ngIf="isGuidanceNote && !isPDF && (contentOutlinesList?.length > 0 || essentials?.length > 0)">
            <div class="card-box border-radius-0 content-outline  p-40" *ngIf="contentOutlinesList?.length > 0">
                <h4 class="header-title m-t-0 m-b-40">Content Outline</h4>

                <div class="inbox-widget nicescroll">

                    <ul>
                        <li *ngFor="let contentOutline of contentOutlinesList">
                            <div class="pointer" (click)="scroll(contentOutline.domainId)">
                                <p class="content-outline-sub" [innerHTML]="contentOutline.title"></p>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

            <essentials [essentials]="essentials" (essential)="downloadEssentials($event)" *ngIf="essentials?.length > 0"></essentials>

            <!--<div class="card-box border-radius-0 external-contributors  p-40" *ngIf="!showGuidanceDetail">
              <h4 class="header-title m-t-0 m-b-10">External Contributors</h4>

              <div class="inbox-widget nicescroll">

                <div class="inbox-item">
                  <div class="inbox-item-img"><img src="dist/assets/images/users/avatar-4.jpg" class="img-circle" alt=""></div>
                  <p class="inbox-item-author">Maria Kalabakas</p>
                  <p class="inbox-item-text">Compliance Officer</p>
                </div>
                <div class="inbox-item">
                  <div class="inbox-item-img"><img src="dist/assets/images/users/avatar-7.jpg" class="img-circle" alt=""></div>
                  <p class="inbox-item-author">Julian Jones</p>
                  <p class="inbox-item-text">Director, Cliffe Dekker Hofmeyr NIC</p>
                </div>
                <div class="inbox-item">
                  <div class="inbox-item-img"><img src="dist/assets/images/users/avatar-6.jpg" class="img-circle" alt=""></div>
                  <p class="inbox-item-author">Lorem Leagal Firm</p>
                  <p class="inbox-item-text">Multidisciplinary</p>
                </div>

              </div>
            </div>-->
        </div>
        <!--<app-back-to-top></app-back-to-top>-->
    </div>
    
</div>
<!--<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">
            Save document reference to client folder
            <button type="button" class="close pull-right" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>

    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="name" [(ngModel)]="saveFolderTitle" class="form-control" id="title" />
        </div>

        <div class="form-group">
            <label for="client">Client:</label>
            <select class="form-control" (change)="onParentFolderSelect($event.target.value)" id="client">
                <option value="{{folder.subscriberClientId}}" *ngFor="let folder of folderInfo">{{folder.clientDescription}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="folder">Folder:</label>
            <pg-folder-treeview #folder [folders]="selectedMainFolder?.parentFolders" [mainFolder]="mainFolder" [showClientDropdown]="true" (setNodeCollapsed)="selectedFolder($event)"></pg-folder-treeview>
        </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary pull-left" (click)="modalRef.hide()">Close</button>
      <button type="button" class="btn btn-primary pull-right" (click)="SaveFile()">Save</button>

    </div>
</ng-template>-->
<!--below lines added by saikiran as per Nikhil suggestion-->
<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">
            Save document reference to client folder
            <button type="button" class="close pull-right" (click)="onPopUpCloseClick()">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>

    </div>
    <div class="modal-body">
        <!--<pg-folder-container *ngIf="loadFolders" [isSaveToFolder]="true"
                             (selectedSaveToFolder)="onSaveToFolderClick($event)" (popUpClose)="onPopUpCloseClick()" [saveToFolderContent]="saveToFolderContent"></pg-folder-container>-->
        <app-folder-container *ngIf="loadFolders" [isSaveToFolder]="true"
                              (selectedSaveToFolder)="onSaveToFolderClick($event)" (popUpClose)="onPopUpCloseClick()" [saveToFolderContent]="saveToFolderContent"></app-folder-container>
    </div>
</ng-template>

<ng-template #downloadModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">
            Download file to your computer
            <button type="button" class="close pull-right" (click)="downloadModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>

    </div>
    <div class="modal-body ">
        <!--<pg-folder-container *ngIf="loadFolders" [isSaveToFolder]="true"
                             (selectedSaveToFolder)="onSaveToFolderClick($event)" (popUpClose)="onPopUpCloseClick()" [saveToFolderContent]="saveToFolderContent"></pg-folder-container>-->
        <div mat-dialog-content>
            <div class="form-group">
                <label for="textinput" class="control-label">Title</label>
                <input type="text" class="form-control" id="textinput" placeholder="" [(ngModel)]="fileTitle" required>
                <p *ngIf="!isValidFileTitle" style="color:red;">Please enter a title</p>
            </div>

            <div class="form-group">
                <label for="radios-inline" class="control-label">Format</label><br />
                <mat-radio-group [(ngModel)]="fileFormat">
                    <div>
                        <mat-radio-button value="pdf">PDF<img class="filesIconW" src="dist/assets/images/pdf.png" style="width: 25px;margin-right: 20px;margin-left:5px;"></mat-radio-button>
                        &nbsp;
                        <mat-radio-button value="rtf">RTF<img class="filesIconW" src="dist/assets/images/wordIcon.png" style="width: 25px;margin-left:5px;"></mat-radio-button>
                    </div>

                </mat-radio-group>
            </div>
        </div>
        <div>
            <div class="row">
                <!--<button class="btn btn-primary pull-left" *ngIf="IsValidForm" mat-button [mat-dialog-close]="true" cdkFocusInitial>Email</button>-->
                <button class="btn btn-primary pull-left" (click)="validate()">Download</button>
                <button class="btn btn-primary pull-right" (click)="closeFileDialog()">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>



<!--permalink popup-->
<ng-template #permaLinkModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">
            Permalink Created
            <button type="button" class="close pull-right" (click)="downloadModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>

    </div>
    <div class="modal-body ">
        <div id="permaLinkContent">
            <div>
                <style type="text/css">
                    kbd {
                        -moz-border-radius: 3px;
                        -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
                        -webkit-border-radius: 3px;
                        -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
                        background-color: #f7f7f7;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
                        color: #333;
                        display: inline-block;
                        font-family: Arial,Helvetica,sans-serif;
                        font-size: 11px;
                        line-height: 1.4;
                        margin: 0 .1em;
                        padding: .1em .6em;
                        text-shadow: 0 1px 0 #fff;
                    }
                </style>
                <div style="padding-bottom: 15px;">
                    You can use the following URL to link directly to
                    <div style="text-overflow: ellipsis; overflow: hidden;">
                        <strong title="{{guidanceHeader}}">{{guidanceHeader}} </strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input id="permalinkContent" [(ngModel)]="permaLink" class="form-control">
                    </div>
                </div>
                <div>
                    <kbd>Ctrl</kbd> + <kbd>C</kbd> will copy this to your clipboard
                </div>
            </div>
        </div>
    </div>
</ng-template>
