<div class="row" _ngcontent-c6="">
    <div class="col-xs-12 col-lg-6 col-xl-6 mobileViewBackButtonMain">
        <span _ngcontent-c6="" class="glyphicon glyphicon-menu-left backButtonMobileView"></span>
        <div _ngcontent-c6="" class="mobileViewBack">Back</div>
    </div>
    <div class="col-xs-12 col-lg-6 col-xl-6 mobileViewAll"> View All</div>
</div>
<!--<div class="row" *ngFor="let item of subtopic">
  <div class="col-xs-12 col-lg-6 col-xl-6 subitemCard" *ngFor="let subitem of item?.subTocItem">
    <div class="subitemMobileView pointer" (click)="setSubTopicDomainPath(subitem)">{{subitem?.title}}</div>-->
<div class="row col-xs-12 col-lg-6 col-xl-6" *ngFor="let item of subtopic">
    <!--<div class="col-xs-12 col-lg-6 col-xl-6 subitemCard" *ngFor="let subitem of item?.subTocItem">
      <div class="subitemMobileView pointer" (click)="setSubTopicDomainPath(subitem)">{{subitem?.title}}</div>
    </div>-->
    <div class="col-xs-12 col-lg-12 col-xl-12 subitemCard">
        <div class="subitemMobileView pointer" (click)="setSubTopicDomainPath(item)">{{item?.title}}</div>
    </div>
</div>
