<div class="calendar-container">
    <div class="row guidance-note-page calendar-page breadcrumb-n-back-row">
        <div class="col-xs-12 col-lg-12 col-xl-12">
            <div class="breadcrumb-text">
                <div>You are here: <span><a routerLink="/dashboard">Dashboard</a></span> > Calendar</div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-12 col-xl-12">
            <div class="row header-container">
                <div class="col-md-12 col-lg-8">
                    <div class="guidance-note-header">
                        <div class="table-row">
                            <div class="table-cell">
                                <span class="folderBackMain pull-left" routerLink="/dashboard">
                                    <i class="fa fa-angle-left angleLeft leftarrowBackButton"></i>
                                </span>
                            </div>
                            <div class="table-cell">
                                <h4 class="pageTitle p-l-0 m-t-10">
                                    <span class="folderName">Calendar</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row calendar-page calendar-top-line" *ngIf="events">
        <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 col-xl-4 text-left event-indicators">
            <ul class="colorsPlaceHolder">
                <li>
                    <span class="badge seminars">&nbsp;</span>
                    <span class="eventsName">Seminars</span>
                </li>
                <li>
                    <span class="badge importantDates">&nbsp;</span>
                    <span class="eventsName">Important Dates</span>
                </li>
                <li>
                    <span class="badge courtDates">&nbsp;</span>
                    <span class="eventsName">Court Dates</span>
                </li>
                <li>
                    <span class="badge events">&nbsp;</span>
                    <span class="eventsName">Events</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 col-xl-4 text-center calendar-header m-hide">
            <div class="mon-nav-container">
                <div class="calendar-mon-nav-t">
                    <div class="calendar-mon-nav-tr">
                        <div class="calendar-mon-nav-td">
                            <span class="preivous-mon-btn" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChanged()">
                                <i class="fa fa-angle-left"></i>
                            </span>
                        </div>
                        <div class="calendar-mon-nav-td">
                            <span class="selected-month" *ngIf="view === 'day'">{{ formatDate(viewDate) }}</span>
                            <span class="selected-month" *ngIf="view !== 'day'">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
                        </div>
                        <div class="calendar-mon-nav-td">
                            <span class="preivous-mon-btn" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChanged()">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 col-xl-4 text-right calendar-mode-container">
            <div class="btn-group calndr">
                <div class="btn btn-primary"
                     (click)="view = 'month'"
                     [class.active]="view === 'month'">
                    Month
                </div>
                <div class="btn btn-primary"
                     (click)="view = 'week'"
                     [class.active]="view === 'week'">
                    Week
                </div>
                <div class="btn btn-primary"
                     (click)="view = 'day'"
                     [class.active]="view === 'day'">
                    Day
                </div>
            </div>
        </div>
    </div>
    <div class="new-calendar not-dashbaord-calendar">
        <div class="row calendar-page">
            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 mobi-calendar-header">
                <div class="row">
                    <div class="col-xs-2 text-right">
                        <span class="mobi-prev-button" mwlCalendarPreviousView
                              [view]="view"
                              [(viewDate)]="viewDate"
                              (viewDateChange)="viewDateChanged()">
                            <span class="left-caret">
                                <i class="fa fa-caret-left"></i>
                            </span>
                        </span>
                    </div>
                    <div class="col-xs-8 text-center">
                        <span class="date-string">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }} <i class="fa fa-chevron-down" *ngIf="view === 'month'"></i></span>
                    </div>
                    <div class="col-xs-2">
                        <span class="mobi-next-button"
                              mwlCalendarNextView
                              [view]="view"
                              [(viewDate)]="viewDate"
                              (viewDateChange)="viewDateChanged()">
                            <span class="right-caret">
                                <i class="fa fa-caret-right"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row calendar-page calendar-body">
            <div class="col-lg-12 calendar-body-container">
                <ng-template #customCellTemplate
                             let-day="day"
                             let-locale="locale"
                             let-openDay="openDay"
                             let-tooltipPlacement="tooltipPlacement"
                             highlightDay="highlightDay"
                             unhighlightDay="unhighlightDay"
                             let-eventClicked="eventClicked"
                             let-tooltipTemplate="tooltipTemplate"
                             let-tooltipAppendToBody="tooltipAppendToBody">
                    <div class="cal-cell-top">
                        <div class="cal-events calendar-page-events" *ngIf="day.events.length > 0">
                            <div class="cal-event"
                                 *ngFor="let event of day.events; trackBy: tackByEventId"
                                 [style.backgroundColor]="event.color.primary"
                                 [ngClass]="event?.cssClass"
                                 [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
                                 [tooltipPlacement]="tooltipPlacement"
                                 [tooltipEvent]="event.title"
                                 [tooltipTemplate]="tooltipTemplate"
                                 [tooltipAppendToBody]="tooltipAppendToBody"
                                 (mwlClick)="eventClicked.emit({ event: event })">
                            </div>
                        </div>
                        <span class="cal-day-number">{{ day?.date | calendarDate:'monthViewDayNumber':locale }}</span>
                        <ng-container *ngFor="let event of day?.events | slice: 0:1">
                            <div class="cal-day-notes" [ngClass]="event?.eventCss" [style.width.%]="getCalDayWidth(day, event)" (mwlClick)="eventClicked.emit({ event: event })" *ngIf="isStartDayOfEvent(day, event)">
                                <span class="event-notes">{{event.meta.notes}}</span>
                            </div>
                        </ng-container>
                    </div>

                </ng-template>
                <div class="boxshadow calBody mobile-calendar-body" [ngSwitch]="view">
                    <mwl-calendar-month-view *ngSwitchCase="'month'"
                                             [viewDate]="viewDate"
                                             [events]="events"
                                             [refresh]="refresh"
                                             (eventClicked)="handleEvent($event.event, modalContent)"
                                             [cellTemplate]="customCellTemplate">
                    </mwl-calendar-month-view>
                    <mwl-calendar-week-view class="desktop-week-view" *ngSwitchCase="'week'"
                                            [viewDate]="viewDate"
                                            [events]="events"
                                            [refresh]="refresh"
                                            (eventClicked)="handleEvent($event.event, modalContent)">
                    </mwl-calendar-week-view>
                    <mwl-calendar-week-view class="mobile-week-view" *ngSwitchCase="'week'"
                                            [viewDate]="viewDate"
                                            [events]="eventsWithNoTitle"
                                            [refresh]="refresh"
                                            (eventClicked)="handleEvent($event.event, modalContent)">
                    </mwl-calendar-week-view>
                    <mwl-calendar-day-view class="desktop-day-view" *ngSwitchCase="'day'"
                                           [viewDate]="viewDate"
                                           [events]="events"
                                           [refresh]="refresh"
                                           (eventClicked)="handleEvent($event.event, modalContent)">
                    </mwl-calendar-day-view>
                    <mwl-calendar-day-view class="mobile-day-view" *ngSwitchCase="'day'"
                                           [viewDate]="viewDate"
                                           [events]="eventsWithNoTitle"
                                           [refresh]="refresh"
                                           (eventClicked)="handleEvent($event.event, modalContent)">
                    </mwl-calendar-day-view>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #modalContent let-close="close">
    <div class="modal-header event-modal">
        <h5 class="modal-title">
            Event Details
            <button type="button" class="close pull-right" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>

    </div>
    <div class="modal-body eventdetails event-modal">

        <div class="row">

            <div class="col-md-4"><label class="row-title">Title</label></div>
            <div class="col-md-8"><span class="row-description">{{modalData?.event?.title}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4"><label class="row-title">Start Date</label></div>
            <div class="col-md-8"><span class="row-description">{{modalData?.event.startDateDisplay}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4"><label class="row-title">End Date</label></div>
            <div class="col-md-8"><span class="row-description">{{modalData?.event.endDateDisplay}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4"><label class="row-title">Type</label></div>
            <div class="col-md-8"><span class="row-description">{{modalData?.event.eventTypeDisplay}}</span></div>
        </div>
        <div class="row no-border">
            <div class="col-md-12"><span class="row-description" [innerHTML]="modalData.event.description"></span></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modalRef.hide()">OK</button>
        </div>
    </div>
</ng-template>
