<div class="myFoldersView">
    <div class="row">
        <div class="col-xs-12 col-lg-12 col-xl-12">
            <div class="breadcrumb-text">
                <div *ngIf="viewType=='ClientList'">You are here: <span><a routerLink="/dashboard">Dashboard</a></span> > Folders</div>
                <div *ngIf="viewType=='folderDetails'">
                    <span *ngIf="foldersList?.length>0" class="fa fa-angle-left angleLeft backArrowButton backArrowButton-small" (click)="navigateToBack()"></span>
                    <ng-container *ngFor="let folder of foldersList;let i=index">
                        {{i>0?' > ':''}}<span (click)="navigateToThisFolderFromMyFolders(folder)" *ngIf="i!=(foldersList.length-1)"><a>{{folder?.folderName}}</a></span>
                        <span *ngIf="i==(foldersList.length-1)" style="padding-left:5px; padding-right:5px;">{{folder?.folderName}}</span>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="col-sm-6  col-xs-12 col-md-9 col-lg-9 ">
            <h4 class="pageTitle">{{ foldersList.length === 0 ? 'My Folders' : foldersList[foldersList.length - 1]?.folderName }}</h4>
        </div>
    </div>
    <div class="row my-folders-page">
        <div class="col-xs-12 col-lg-12 col-xl-12">
            <div class="card-box border-radius-0 my-folders p-0">
                <app-folder-container [isSaveToFolder]="false"
                                      (selectedSaveToFolder)="onSaveToFolderClick($event)" (popUpClose)="onPopUpCloseClick()" [saveToFolderContent]="saveToFolderContent"
                                      (currentViewSelection)="currentViewSelection($event)"
                                      [folderClick]="navigateToThisFolder"
                                      (selectedFoldersList)="selectedFoldersList($event)"></app-folder-container>
            </div>
        </div>
        <div class="col-xs-12 col-lg-12 col-xl-3">
            
        </div>
    </div>
</div>