<div class="whatNew-txt-content p-20" *ngFor="let newItem of newItems | slice: pageStart:pageEnd">
    <p><span class="label label-pill label-default">{{newItem.practiceAreaTitle}}</span></p>
    <h4 class="header-title m-t-0 m-b-20 pointer" *ngIf="newItem.isPdf =='True'" (click)="openWhatsNewPdf(newItem)">
        <span data-plugin="counterup" class="titles" mat-raised-button matTooltip="{{ newItem?.title }}" matTooltipClass="whatsNewToolTip" matTooltipPosition="above">
            {{ newItem?.title.length > 83 ? newItem?.title.trim().slice(0, 80).trim().concat('...') : newItem?.title }}
        </span>
    </h4>
    <h4 class="header-title m-t-0 m-b-20 pointer" *ngIf="newItem.isPdf !=='True'" (click)="detailView(newItem)">
        <span data-plugin="counterup" class="titles" mat-raised-button matTooltip="{{ newItem?.title }}" matTooltipClass="whatsNewToolTip" matTooltipPosition="above">
            {{ newItem?.title.length > 83 ? newItem?.title.trim().slice(0, 80).trim().concat('...') : newItem?.title }}
        </span>
    </h4>   
    <p class="font-600 m-b-5">&nbsp; <span class="text-secondary pull-right"><i class="zmdi zmdi-time"></i> {{newItem?.datePublished | date: 'd LLL, yyyy'}}</span></p>
    <hr />
</div>