.newItemMainCard {
  background-color: transparent;
  height: 100%;
  width: 100%
}
.text-align{
    text-align:center;
}
.p-t-10{
    padding-top:10px;
}
.p-b-20{
    padding-bottom:20px;
}
.categoryTxt{
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
    color:#5f5c5c;
}
.paTitle{
    background: white;
    padding:10px;
}
.showMoreTxt{
    border-bottom: 1px solid rgba(156,164,171,0.5);
    padding: 11px 11px 16px 3%;
}
.datePublished{
    color: rgb(171, 169, 169);
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.p-b-30{
    padding-bottom:30px;
}
.p-20{
    padding:20px;
}
/*.p-r-8{
    padding-right:8px;
}*/
.p-t-30{
    padding-top:30px;
}
.whatsnewTitle{
    color: #053C71;
    font-weight: bold;
    display: inline;
    font-size: 16px;
    line-height: 18pt;
    cursor: pointer;
}
.whatsnewDesc{
    color: rgb(101, 98, 98);
    font-weight: bold;
    font-size: 13px;
    padding-top: 10px;
}
.showMoreTxt > div{
    padding-left: 2%;
    color: rgb(70, 68, 68);
    font-size: 13px;
}
.container-fluid {
    background-color: #edeef3;
    padding-bottom: 100px;
}
.mainDivContainer {
    margin-top: 10px;
}
.newItemCard {
    padding: 50px 50px 50px 50px;
    background-color: rgba(255,255,255,1) !important;
    margin-bottom:1px !important;
}

.card-title {
text-align:justify;
}