<div class="row">
    <div class="col-lg-12"><p class="p-20"></p></div>
</div>
<div class="row practice-areas-page" *ngIf="practiceAreas">
    <div class="col-xs-12 col-lg-12 col-xl-12">
        <div class="card-box  border-radius-0 search-practice-areas">
            <div class="row">
                <div class="col-xs-12 col-lg-12 col-xl-12">
                    <div class="searchpra">
                        <input type="text"
                               [(ngModel)]="searchText"
                               class="form-control input-lg no-border"
                               placeholder="Search all practice areas" />
                        <a class="practiceAreaCrossMark filter-clear"
                           *ngIf="searchText.length>0"
                           (click)="clearFilter()">
                            X
                        </a>
                        <hr class="hr" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-3 col-xl-3">
                    <div class="headerFont">All Practice Areas</div>
                </div>
                <div class="col-xs-12 col-9-12 col-xl-9">
                    <div class="pull-left pareas-titles">{{selectedPracticeArea?.title}}</div>
                    <div class="pull-right practiceAreaViewall pointer" *ngIf="selectedPracticeArea?.title!=''" (click)="navigateToSubTopics($event)">View All</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-12 col-xl-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3  borderright scrollbar">
                    <practice-area-view [practiceAreas]="practiceAreas"
                                        [searchText]="searchText"
                                        (getSelectedPracticeAreaTitle)="setPracticeAreaTitle($event)"
                                        (getSubTopic)="setSubTopic($event)">

                    </practice-area-view>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9 col-xl-9 borderright scrollbar paviewBlock">
                    <app-sub-topic-view [subtopic]="subTopic"
                                        (subTopic)="navigateToGuidanceNote($event)">

                    </app-sub-topic-view>
                </div>
            </div>
        </div>
    </div>
</div>
