<div class="guidance-note-page-container">
    <div class="row guidance-note-page gndetail-page">
        <app-bread-crumb [practiceArea]="rootArea" [subTopic]="subTopicTitle"></app-bread-crumb>
        <div class="col-xs-12" [ngClass]="essentials?.length == 0 ? 'col-lg-12 col-xl-12' : 'col-lg-8 col-xl-9'">
            <div class="row header-container" *ngIf="!isPDF">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="guidance-note-header">
                        <div class="table-row">
                            <div class="table-cell">
                            </div>
                            <div class="table-cell">
                                <span class="label label-pill label-default">{{rootArea}}</span>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">
                                <span *ngIf="(backButton == true)" class="folderBackMain" (click)="back()">
                                    <span class="fa fa-angle-left angleLeft leftarrowBackButton pg-icon"></span>
                                </span>
                            </div>
                            <div class="table-cell">
                                <h4 class="pageTitle p-l-0 m-t-10">
                                    <span class="folderName">{{ paTitle }}</span>
                                </h4>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">
                            </div>
                            <div class="table-cell">
                                <div class="readmoreDsc">
                                    <pg-read-more [text]="gnOverview" [limitCount]="180"></pg-read-more>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
                    <span class="foldersButton">
                        <a (click)="openSaveToFolderModal()" class="pointer"><span
                                class="ion-ios7-folder pg-icon"></span></a>
                        <a (click)="openEmailModal(unsubscribeModal)" class="pointer" *ngIf="isGuidanceView"><span
                                class="icon-envelope-letter icons pg-icon"></span></a>
                        <a class="pointer" (click)="openFileDownloadModal(unsubscribeModal)"
                            *ngIf="isGuidanceView"><span class="zmdi zmdi-download pg-icon"></span></a>
                        <a class="pointer" (click)="openPermaLinkModal()"
                            *ngIf="!_pagerService.isMobile"><span class="icon-action-redo icons pg-icon"></span></a>
                    </span>
                </div>
            </div>
            <div class="row" *ngIf="isPDF">
                <div class="col-md-12 col-lg-12">
                    <h4 class="pageTitle p-l-0 m-t-10">
                        <span class="folderBackMain pull-left" (click)="isPDF= !isPDF">
                            <span class="fa fa-angle-left angleLeft leftarrowBackButton pg-icon"></span>
                        </span>
                        <span class="folderName"
                            title="{{pdfTitle}}">{{ pdfTitle?.length>45?(pdfTitle.substr(0, pdfTitle.substr(0,45).lastIndexOf(' ')))+'...':pdfTitle }}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row  guidance-note-page">
        <div class="col-xs-12" [ngClass]="essentials?.length == 0 ? 'col-lg-12 col-xl-12' : 'col-lg-8 col-xl-9'"
            *ngIf="!isPDF">
            <div class="card-box border-radius-0 p-0 guiRefTabs">
                <mat-tab-group (selectedTabChange)="changedTab($event)">
                    <mat-tab label="Guidance">
                        <sub-topic-guidance [guidances]="guidances" [error]="guidanceError"
                            (domainPath)="navigateToGuidanceDetails($event)" (subContent)="loadContentView($event)">
                        </sub-topic-guidance>
                    </mat-tab>
                    <mat-tab label="References"
                        [disabled]="(legislations==null && commentarys==null && caseLaws==null)?'':null"
                        [ngClass]="(legislations==null && commentarys==null && caseLaws==null)?'disabledReferences':''">
                        <sub-topic-reference [legislations]="legislations" [commentarys]="commentarys"
                            [caseLaws]="caseLaws" (subContent)="openLibContent($event)">
                        </sub-topic-reference>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="col-xs-12 col-lg-12 col-xl-12" *ngIf="isPDF">
            <app-pdf-viewer [pdfContent]="pdfContent"></app-pdf-viewer>
        </div>
        <div class="col-xs-12 col-lg-4 col-xl-3 guidance-note-essentials" *ngIf="!isPDF && essentials?.length > 0">
            <essentials [essentials]="essentials" (essential)="downloadEssentials($event)"></essentials>
        </div>
    </div>
</div>

<app-save-to-folder-modal [saveToFolderContent]="saveToFolderContent" (closeModal)="onCloseSaveToFolderModal($event)" (saveToFolder)="saveFileToFolder($event)"></app-save-to-folder-modal>

<app-download-modal (downloadFile)="downloadFile($event)"></app-download-modal>

<app-permalink-modal [permaTitle]="paTitle" [permaLink]="permaLink"></app-permalink-modal>

<ng-template #unsubscribeModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">
            Alert
            <button type="button" class="close pull-right" (click)="unsubscribeModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
    </div>
    <div class="modal-body unsubscribe-body">
        <div class="row">
            <div class="col-md-12">
                <img class="lockImage" src="{{pgConstants.Images.DAImages.lockImage}}" alt="lock.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="logoImage" src="{{pgConstants.Images.LNLogo}}" alt="logo.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center unsubscribe-text">Sorry it seems that you are not subscribed to view this content,
                    please contact Customer Care on <span>0860 765 432</span> for more information.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center unsubscribe-link"><a (click)="unsubscribeModalRef.hide()">Click here</a> to return
                    to the home page.</p>
            </div>
        </div>
    </div>
</ng-template>

<app-pg-alert-modal (onCloseModal)="onCloseAlert()"></app-pg-alert-modal>