.dropdown-menu {
    width: 800px !important;
    /* height: 350px !important;*/
    left: 50%;
    margin-left: -300px;
}

.open > .dropdown-toggle.btn-default:focus {
    background-color: #f7d5d4 !important;
    border-color: #ccc;
}

.open > .dropdown-toggle.btn-default:hover {
    background-color: #f7d5d4 !important;
    border-color: #ccc;
}

.btn.btn-danger.dropdown-toggle.input-lg.serachButtonDiv {
    width: 50px;
}

.selectDeselectMainDiv {
    float: right;
    padding-top: 17px;
}

.searchMainDiv {
    padding: 8px;
}

.input-lg {
    /*height:28px!important;*/
}

.practiceAreaTitle {
    font-size: 10px;
    padding: 4px;
}

.search-input-container {
    position: relative;
}

.filterInputForm {
    padding-right: 41px;
}



.search-instructions {
    padding-bottom: 20px;
}

.search-instructions table {
    width: 100%;
    color: #666;
    font-size: 12px;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    border: #ccc 1px solid;
    border-collapse: separate;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
    margin-top: 10px;
    margin-bottom: 0;
}

.search-instructions table th {
    text-align: left;
    padding: 10px 0 10px 0;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 8px;
    letter-spacing: 2px;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

.search-instructions table td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

.search-instructions table td:first-child {
    border-left: 0;
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .dropdown-menu {
        width: 692px !important;
        /* height: 356px !important;*/
    }

    .selectall {
        padding: 9px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    
}

@media only screen and (max-width: 991px) {
    .filterInputForm {
        padding-right: 30px;
        font-size: 14px;
    }

    .help-icon {
        right: 5px;
    }
    .close-icon {
        right: 40px;
    }
    ::placeholder {
      color: #e0e0e0;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: #e0e0e0;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
     color: #e0e0e0;
    }
}
@media only screen and (max-width: 800px) {
    .filterInputForm {
        padding-right: 30px;
        font-size: 14px;
    }

    .help-icon {
        right: 5px;
    }
    .close-icon {
        right: 40px;
    }
}
@media only screen and (max-width: 414px) {
    .filterInputForm {
        padding-right: 30px;
        font-size: 14px;
    }

    .help-icon {
        right: 5px;
    }
    .close-icon {
        right: 35px;
    }
}