<div class="input-group hdsearch">
    <div class="input-group-btn paSearchFilters m-hide" dropdown #dropdown="bs-dropdown" [autoClose]="false" [isOpen]="status.isopen" (isOpenChange)="change($event)" placement="top">
        <button type="button" dropdownToggle class="btn btn-default input-lg filterButton" (click)="openModal(modalContent)">
            <span>Filters <span class="zmdi zmdi-chevron-down pg-icon"></span></span>
        </button>
    </div>
    <div class="input-group-btn hidden-lg-up">
        <button type="button" data-dismiss="modal" (click)="setParameter()" class="btn btn-danger input-lg serachButtonDiv m-searchbtninm">
            <span class="fa fa-search searchIcon pg-icon" aria-hidden="true"></span>
        </button>
    </div>
    <div class="search-input-container">
        <input type="text" class="form-control input-lg filterInputForm" placeholder="Enter your search here" [(ngModel)]="searchTerm" (keypress)="forceSearch($event)" #searchInput id="searchTextInput">

        <span class="fa fa-question help-icon hidden-md-down pg-icon" (click)="openHelpModal(helpModal)"></span>
        <span class="fa fa-close close-icon hidden-lg-up pg-icon" *ngIf="searchTerm.trim().length>0" (click)="clearText()"></span>
    </div>
    <div class="input-group-btn hidden-md-down">
        <button type="button" data-dismiss="modal" (click)="setParameter()" class="btn btn-danger input-lg serachButtonDiv m-searchbtninm">
            &nbsp;&nbsp;
            <span class="fa fa-search searchIcon pg-icon" aria-hidden="true"></span>&nbsp;&nbsp;
        </button>
    </div>
</div>

<ng-template #modalContent let-close="close">
    <div class="modal-body header-search-filter">
        <div class="practisetypesaved">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 browse_hist_fav_tabs speech-bubble">
                    <div class="practiseArea hsftitle">Practice Areas</div>
                    <div class="arrow bottom right"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 selectDeselectMainDiv hsftitler">
                    <a class="selectall"><span (click)="selectAllPracticeArea()">Select all</span></a>
                    <a class="selectall"><span (click)="deSelectAllPracticeArea()">Deselect all</span></a>
                </div>
            </div>
        </div>
        <div class="serachListBlock">
            <ng-container *ngFor="let practicearea of searchPracticeAreas; let i = index">
                <ul class="serachList" *ngIf="i%3==0">
                    <li>
                        <div class="checkbox" *ngIf="searchPracticeAreas[i]">
                            <input type="checkbox" placeholder="Enter your search here" name="check" [(ngModel)]="searchPracticeAreas[i].isSelected" (click)="practiceAreaClick($event.currentTarget.checked,searchPracticeAreas[i])">
                            <label for="checkbox2">
                                {{searchPracticeAreas[i]?.title}}
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox" *ngIf="searchPracticeAreas[i+1]">
                            <input type="checkbox" placeholder="Enter your search here" name="check" [(ngModel)]="searchPracticeAreas[i+1].isSelected" (click)="practiceAreaClick($event.currentTarget.checked,searchPracticeAreas[i+1])">
                            <label for="checkbox2">
                                {{searchPracticeAreas[i+1]?.title}}
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox" *ngIf="searchPracticeAreas[i+2]">
                            <input type="checkbox" placeholder="Enter your search here" name="check" [(ngModel)]="searchPracticeAreas[i+2].isSelected" (click)="practiceAreaClick($event.currentTarget.checked,searchPracticeAreas[i+2])">
                            <label for="checkbox2">
                                {{searchPracticeAreas[i+2]?.title}}
                            </label>
                        </div>
                    </li>
                </ul>
            </ng-container>
        </div>
        <div class="modal-footer text-right">
            <button class="btn btn-primary" (click)="applyNSearch()">Search </button>
        </div>
    </div>
</ng-template>

<app-pg-alert-modal (onCloseModal)="onCloseAlert()"></app-pg-alert-modal>

<ng-template #helpModal let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">
            Help <button type="button" class="close pull-right" (click)="modalAlertRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>

    </div>
    <div class="modal-body helpModal">
        <div class="row">
            <div class="col-md-12">
                <p> The <strong>General Text search</strong> field supports the use of the following "boolean" search operators, which can be combined in any order as required. Please take note that the <strong>General Text search</strong> field is the only field that supports these operators.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="search-instructions">
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>Operator</th>
                                    <th>Example</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>And</td>
                                    <td>one + two</td>
                                    <td>Finds documents with both 'one' and 'two'.</td>
                                </tr>
                                <tr>
                                    <td>Or</td>
                                    <td>me | you</td>
                                    <td>Finds documents with either 'me' or 'you'.</td>
                                </tr>
                                <tr>
                                    <td>Not</td>
                                    <td>^him <br/> -him</td>
                                    <td>Finds documents that don't contain 'him'.</td>
                                </tr>
                                <tr>
                                    <td>Exclusive or</td>
                                    <td>apples ~ oranges</td>
                                    <td>Finds documents with either 'apples' or 'oranges', but not both.</td>
                                </tr>
                                <tr>
                                    <td>Phrase</td>
                                    <td>"to be or not"</td>
                                    <td>Finds documents with the exact phrase 'to be or not'.<br/>
                                    Can also be used with other Boolean opeators: "green apples" ^ "red apples"</td>
                                </tr>
                                <tr>
                                    <td>Single character wildcard</td>
                                    <td>wom?n th??</td>
                                    <td>Finds documents with 'woman', 'women', etc., or 'this', 'that', 'them', etc.</td>
                                </tr>
                                <tr>
                                    <td>Multiple character wildcard</td>
                                    <td>cor*tion work*</td>
                                    <td>Finds documents with 'corporation', 'corruption', 'correlation', etc., or 'work', 'works', 'working', etc.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>