<div class="card-box border-radius-0 searchResults p-40">
    <div class="row" *ngIf="filteredEssentials?.length > 0">
        <div class="col-xs-12 col-md-4 col-lg-4 col-xl-6"></div>
        <div class="col-xs-12 col-md-8 col-lg-8 col-xl-6 text-right">
            <div class="sortDivResultPerPage">
                <div class="sortresultDropDown">
                    <span>RESULT PER PAGE</span>
                    <select class="c-select" (change)="onPageSizeChange($event.target.value)">
                        <option [attr.selected]="pageSize == 10 ? true : null" value="10">10</option>
                        <option [attr.selected]="pageSize == 20 ? true : null" value="20">20</option>
                        <option [attr.selected]="pageSize == 30 ? true : null" value="30">30</option>
                        <option [attr.selected]="pageSize == 40 ? true : null" value="40">40</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="filteredEssentials?.length > 0">
        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
            <hr />
        </div>
    </div>
    <ng-container>
        <ng-container *ngFor="let essential of filteredEssentials; let i = index">
            <div class="row essentials" *ngIf="i % 2 == 0">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="card-box tilebox-two border-radius-0" *ngIf="filteredEssentials[i]">
                        <div class="pull-xs-left essential-imgbox">
                            <div class="checkbox checkbox-success checkbox-circle essential-chekcbx">
                                <input id="checkbox-{{i}}" type="checkbox" [checked]="filteredEssentials[i]?.isChecked"
                                    (change)="onEssentialChecked($event.currentTarget.checked, filteredEssentials[i], false)" />
                                <label for="checkbox-{{i}}">&nbsp;</label>
                            </div>
                            <div class="clearfix"></div>
                            <img src="{{pgConstants.Images.EssentialIcons.wordIcon}}"
                                *ngIf="filteredEssentials[i]?.mimeType=='.doc' || filteredEssentials[i]?.mimeType=='.docx'"
                                alt="Word File" />
                            <img src="{{pgConstants.Images.EssentialIcons.pdfIcon}}"
                                *ngIf="filteredEssentials[i]?.mimeType=='.pdf'" alt="PDF File" />
                            <img src="{{pgConstants.Images.EssentialIcons.webIcon}}"
                                *ngIf="filteredEssentials[i]?.mimeType=='link'" alt="Web Resource" />
                            <img src="{{pgConstants.Images.EssentialIcons.excelIcon}}"
                                *ngIf="filteredEssentials[i]?.mimeType=='.xls'" alt="Excel File" />
                            <img src="{{pgConstants.Images.EssentialIcons.webIcon}}"
                                *ngIf="filteredEssentials[i]?.mimeType !='link' && filteredEssentials[i]?.mimeType !='.pdf' && filteredEssentials[i]?.mimeType !='.doc' && filteredEssentials[i]?.mimeType !='.docx' && filteredEssentials[i]?.mimeType !='.xls'"
                                alt="Web Resource" />
                        </div>
                        <p><span class="label label-pill label-default">{{filteredEssentials[i].pageType}}</span>
                        </p>
                        <h2 class="m-b-10 pointer">
                            <span class="btn-group">
                                <button class="btn btn-purple dropdown-toggle waves-effect waves-light" mat-button
                                    [matMenuTriggerFor]="menu"><span class="fa fa-ellipsis-h pg-icon"></span></button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item
                                        (click)="filteredEssentials[i]?.mimeType=='link'?onOpenTab(filteredEssentials[i]):onDownLoadContent(filteredEssentials[i].subTopicDomainPath,filteredEssentials[i].hasChildren, true)">Download</button>
                                    <span class="dropdown-divider"></span>
                                    <button mat-menu-item (click)="onOpenSaveToFolderModal(filteredEssentials[i])">Add to
                                        a
                                        folder</button>
                                    <span class="dropdown-divider"></span>
                                </mat-menu>
                            </span>
                            <span data-plugin="counterup" class="titles"
                                (click)="filteredEssentials[i]?.mimeType=='link'?onOpenTab(filteredEssentials[i]):onDownLoadContent(filteredEssentials[i].subTopicDomainPath,filteredEssentials[i].hasChildren)"
                                mat-raised-button matTooltip="{{filteredEssentials[i]?.title.trim()}}"
                                matTooltipClass="whatsNewToolTip" matTooltipPosition="above">
                                {{filteredEssentials[i]?.title.length>33?filteredEssentials[i]?.title.slice(0,30).trim().concat('...'):filteredEssentials[i]?.title}}
                            </span>
                        </h2>
                        <h6 class="text-muted m-b-15 m-t-10">{{filteredEssentials[i].subTopicName}}</h6>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="card-box tilebox-two border-radius-0" *ngIf="filteredEssentials[(i + 1)]">
                        <div class="pull-xs-left essential-imgbox">
                            <div class="checkbox checkbox-success checkbox-circle essential-chekcbx">
                                <input id="checkbox-{{i+1}}" type="checkbox"
                                    [checked]="filteredEssentials[(i + 1)]?.isChecked"
                                    (change)="onEssentialChecked($event.currentTarget.checked, filteredEssentials[(i + 1)], false)">
                                <label for="checkbox-{{i+1}}">&nbsp;</label>
                            </div>
                            <div class="clearfix"></div>
                            <img src="{{pgConstants.Images.EssentialIcons.wordIcon}}"
                                *ngIf="filteredEssentials[(i + 1)]?.mimeType=='.doc' || essential?.mimeType=='.docx'"
                                alt="Word File" />
                            <img src="{{pgConstants.Images.EssentialIcons.pdfIcon}}"
                                *ngIf="filteredEssentials[(i + 1)]?.mimeType=='.pdf'" alt="PDF File" />
                            <img src="{{pgConstants.Images.EssentialIcons.webIcon}}"
                                *ngIf="filteredEssentials[(i + 1)]?.mimeType=='link'" alt="Web Resource" />
                            <img src="{{pgConstants.Images.EssentialIcons.excelIcon}}"
                                *ngIf="filteredEssentials[(i + 1)]?.mimeType=='.xls'" alt="Excel File" />
                            <img src="{{pgConstants.Images.EssentialIcons.webIcon}}"
                                *ngIf="filteredEssentials[(i + 1)]?.mimeType !='link' && filteredEssentials[(i + 1)]?.mimeType !='.pdf' && filteredEssentials[(i + 1)]?.mimeType !='.doc' && filteredEssentials[(i + 1)]?.mimeType !='.docx' && filteredEssentials[(i + 1)]?.mimeType !='.xls'"
                                alt="Web Resource" />
                        </div>
                        <p><span class="label label-pill label-default">{{filteredEssentials[(i + 1)].pageType}}</span>
                        </p>
                        <h2 class="m-b-10 pointer">
                            <span class="btn-group">
                                <button class="btn btn-purple dropdown-toggle waves-effect waves-light" mat-button
                                    [matMenuTriggerFor]="menu"><span class="fa fa-ellipsis-h pg-icon"></span></button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item
                                        (click)="filteredEssentials[(i + 1)]?.mimeType=='link'?onOpenTab(filteredEssentials[(i + 1)]):onDownLoadContent(filteredEssentials[(i + 1)].subTopicDomainPath,filteredEssentials[(i + 1)].hasChildren, true)">Download</button>
                                    <span class="dropdown-divider"></span>
                                    <button mat-menu-item
                                        (click)="onOpenSaveToFolderModal(filteredEssentials[(i + 1)])">Add to a
                                        folder</button>
                                    <span class="dropdown-divider"></span>
                                </mat-menu>
                            </span>
                            <span data-plugin="counterup" class="titles"
                                (click)="filteredEssentials[(i + 1)]?.mimeType=='link'?onOpenTab(filteredEssentials[(i + 1)]):onDownLoadContent(filteredEssentials[(i + 1)].subTopicDomainPath,filteredEssentials[(i + 1)].hasChildren)"
                                mat-raised-button matTooltip="{{filteredEssentials[(i + 1)]?.title.trim()}}"
                                matTooltipClass="whatsNewToolTip" matTooltipPosition="above">
                                {{filteredEssentials[(i + 1)]?.title.length>33?filteredEssentials[(i + 1)]?.title.slice(0,30).concat('...'):filteredEssentials[(i + 1)]?.title}}
                            </span>

                        </h2>
                        <h6 class="text-muted m-b-15 m-t-10">{{filteredEssentials[(i + 1)].subTopicName}}</h6>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <div class="row" *ngIf="!filteredEssentials || filteredEssentials?.length == 0">
        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
            <h4 class="no-essential-msg">{{ error ? error : pgMessages.essentials.noEssentials }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <nav>
                <ul class="pagination essentials-pagination m-b-0 PaginationMainDiv"
                    *ngIf="filteredEssentials?.length != 0">
                    <li class="page-item" [ngClass]="curPage == 1 ? 'disabled':''">
                        <a href="javascript:void(0);" class="page-link" (click)="onLoadPreviousPage()"
                            aria-label="Previous">
                            <span aria-hidden="true"><span
                                    class="zmdi zmdi-chevron-left pg-icon"></span>&nbsp;&nbsp;&nbsp;
                                Previous</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let page of pages; let pageIndex = index"
                        [ngClass]="curPage -1 === pageIndex?'active':'pagerPadding'">
                        <a href="javascript:void(0);" class="page-link" (click)="onSetToPage(page, true)">{{page}}</a>
                    </li>
                    <li class="page-item" [ngClass]="curPage == pagesCount  ? 'disabled':''">
                        <a href="javascript:void(0);" class="page-link" (click)="onLoadNextPage()" aria-label="Next">
                            <span aria-hidden="true">Next &nbsp;&nbsp;&nbsp;<span
                                    class="zmdi zmdi-chevron-right pg-icon"></span></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>